<a href="perfil-alumno">
    <div class="container mt-4">
        <mat-card class="pl-3 pr-3 p-2 card-interna mb-3" *ngFor="let element of elements">
            <img mat-card-avatar src="../../../../../assets/img/default-user.png" width="100" height="100" />
            <span class="ml-2 letraGrande"> Margarita Gonzales </span>
            <mat-card-actions class="ml-3">
                <div class='stars'>
                    <i class="pi pi-star" [ngClass]='(5 >= 1)?"amarillo":""'></i>
                    <i class="pi pi-star" [ngClass]='(5 >= 2)?"amarillo":""'></i>
                    <i class="pi pi-star" [ngClass]='(5 >= 3)?"amarillo":""'></i>
                    <i class="pi pi-star" [ngClass]='(5 >= 4)?"amarillo":""'></i>
                    <i class="pi pi-star" [ngClass]='(5 >= 5)?"amarillo":""'></i>
                    <span class='subtitle'>
                        3/ 5
                    </span>
                </div>
            </mat-card-actions>
            <mat-card-subtitle class="ml-3">
                Excelente!! Explica muy bien !
            </mat-card-subtitle>
        </mat-card>
    </div>
</a>