.categoria {
    background-color: #27ae60;
    position: absolute;
    bottom: 70%;
    left: 1%;
    font-size: 12px;
    padding: 2px 5px;
    text-align: center;
    color: #fff;
    margin: 0 0 15px 15px;
}



.carousel-indicators li.active {
    background: #1e3e6f;
}

.carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background: white;
    opacity: 1;
}
.texto-s{
    top:90%;
}
ol.carousel-indicators {
    bottom: -50px;
}
.texto-s a {
    margin-top: 2%;
}
.carousel-indicators li.active {
    background: #1e3e6f;
}

.carousel-indicators li {
    background: #8a8a8a;
}
