<div id="home-slider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li *ngFor='let item of items;index as i ' data-target="Noticias-s" (click)="cambiarSlider(i)"
        [ngClass]='(item.id== Active)?"active" : ""'></li>
  
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item " *ngFor='let item of items' class="carousel-item "
        [ngClass]='(item.id== Active)?"active" : ""'>
        <img class="w-100 desk" [src]="item.foto">
        <img class="w-100 mob" [src]="item.fotoMovil">
        <div class="texto-s container">
         <h1 class="bold blanco">{{item.title}}</h1>
          <a *ngIf='item.button' style='border-style:none;' [href]="item.link" class="btn btn-primary" [ngStyle]="{'background': item.button}" >SABER MÁS</a>
        </div>
      </div>
  
    </div>
  </div>