


<div class="container">
    <div class="row">
        <div class="col-lg-12 m-5 text-center">
            <p-card class='card' style="width: 80%;margin:auto;">
                <h3>Nuevo Modelo</h3>
            
                <span class="p-float-label w-80  mt-4">
                    <input id="float-input"  class='w-100' type="text" pInputText> 
                    <label for="float-input">Institucion</label>
                </span>
                <span class="p-float-label w-80  mt-4">
                    <input id="float-input"  class='w-100' type="text" pInputText> 
                    <label for="float-input">Carrera</label>
                </span>
                <span class="p-float-label w-80 mt-4">
                    <input id="float-input"  class='w-100' type="text" pInputText> 
                    <label for="float-input">Materia</label>
                </span>

              <div class='w-80 mt-3'>
                <p-fileUpload class='mt-4'  name="demo[]" url="./upload.php" (onUpload)="onUpload($event)" multiple="multiple"
                accept="image/*" maxFileSize="6">
                <ng-template pTemplate="content">
                    <ul *ngIf="uploadedFiles.length">
                        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                    </ul>
                </ng-template>
            </p-fileUpload>
              </div>
            <button pButton type="button"  class='mt-2' [disabled]='!uploadedFiles'  (click)='confirmar()'  label="Confirmar"></button>
            </p-card>
        </div>
    </div>
</div>
