<div class="row">
	<div class="col-lg-12">
		<span class='m-2 w-50'>
			<p-dropdown [options]="meses" [(ngModel)]="SelectedMes" (click)='filter()' optionLabel="name"
				[filter]="true" filterBy="name" [showClear]="true" placeholder="Mes">
				<ng-template pTemplate="selectedItem">
					<div class="country-item country-item-value" *ngIf="SelectedMes">
						<div>{{SelectedMes.name}}</div>
					</div>
				</ng-template>
				<ng-template let-country pTemplate="item">
					<div class="country-item">
						<div>{{country.name}}</div>
					</div>
				</ng-template>
			</p-dropdown>
		</span>
		<span class='m-2 w-50'>
			<p-dropdown [options]="anos" [(ngModel)]="SelectedAno" optionLabel="name" [filter]="true" filterBy="name"
				[showClear]="true" placeholder="Año">
				<ng-template pTemplate="selectedItem">
					<div class="country-item country-item-value" *ngIf="SelectedAno">
						<div>{{SelectedAno.name}}</div>
					</div>
				</ng-template>
				<ng-template let-country pTemplate="item">
					<div class="country-item">
						<div>{{country.name}}</div>
					</div>
				</ng-template>
			</p-dropdown>
		</span>
		<div class="p-field p-col-12 p-md-4 text-center" *ngIf='disponibilidad.length>0'>
		<p-selectButton  (onChange)='add()' [options]="disponibilidad" [(ngModel)]="selected" optionLabel="name"
				optionValue="value"></p-selectButton>
		</div>
	

		
	</div>