<div class="container blanco">
  <br>
  <h2 class="ml-2 color-a">Busqueda de clases</h2>
  <app-buscador></app-buscador>
  <br>
</div>


<div class="container blanco mt-5">
  <br>
  <h2 class="ml-3 color-a">Conoce nuestros beneficios</h2>
  <h4 class="ml-3 grisLetra">Descubre los descuentos que ofrecemos.</h4>

  <div class="container">
    <div class="row">
      <div class="col-sm ">
        <mat-card class="example-card">
          <div class="categoria">Descuentos</div>
          <mat-card-title class='color-a mt-4'>PACK 20 CLASES A -10%</mat-card-title>
          <mat-card-content>
            <p>This card has divider and indeterminate progress as footer</p>
            <p></p>
          </mat-card-content>
          <mat-divider inset></mat-divider>
        </mat-card>
      </div>
      <div class="col-sm">
        <mat-card class="example-card">
          <div class="categoria">Descuentos</div>
          <mat-card-title class='color-a mt-4'>5% DE DESCUENTO</mat-card-title>
          <mat-card-content>
            <p>Si obtuviste 10 clases particulares que duraron mas de una hora.</p>
            <p></p>
          </mat-card-content>
          <mat-divider inset></mat-divider>
        </mat-card>
      </div>
      <div class="col-sm">
        <mat-card class="example-card">
          <div class="categoria">Descuentos</div>
          <mat-card-title class='color-a mt-4'>20% DE DESCUENTO</mat-card-title>
          <mat-card-content>
            <p>Si sos un suscriptor activo de la página durante un año.</p>
            <p></p>
          </mat-card-content>
          <mat-divider inset></mat-divider>
        </mat-card>
      </div>
    </div>
    <br>
  </div>
</div>



<div class="container blanco mt-5">
  <br>
  <h2 class="ml-3 color-a">Mas populares</h2>
  <app-cards-profesor></app-cards-profesor>
  <br>
</div>

<div class="container blanco mt-5">
  <br>
  <h2 class="ml-3 color-a">Recientes</h2>
  <app-cards-profesor></app-cards-profesor>
  <br>
</div>


<div class="container blanco mt-5">
  <br>
  <h2 class="ml-3 color-a">Pasos de pago</h2>
  <app-carrousel-img></app-carrousel-img>
  <br>
</div>

<br>