
<div class="container naranjaClaro2">
  <br>
  <h2  class="ml-2 azulLetra">Busqueda de clases</h2> 
  
  <form>
    <div class="form-group row container">
      <div class="col-sm-10  mt-3">
        <label for="inputClase2" class="sr-only">BusquedaClase</label>
        <div class="input-group">
          <input type="text" class="form-control" id="validationBusquedaClase" placeholder="Ingrese nombre de la clase o profesor.">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend2"><i class="icofont-search-1"></i></span>
          </div>
        </div>   
      </div>
  
      <button type="submit" class="btn mt-3 azul blancaLetra col-sm-1">Buscar</button>
  
    </div>
  </form>
  <br>
  </div>
  
  
  <div class="container naranjaClaro2 mt-5">
    <br>
    <h2  class="ml-2 azulLetra">Conoce nuestros beneficios</h2> 
    <p class="ml-2 grisLetra">Descubre los descuentos que ofrecemos.</p>
  
    <div class="container ml-2">
      <div class="row">
        <div class="col-sm blanco">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>      </div>
        <div class="col-sm">
          <div class="card-body blanco">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>      </div>
        <div class="col-sm">
          <div class="card-body blanco">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>    
        </div>
      </div>
      <br>
    </div>
   </div> 
  
  
    
  <div class="container naranjaClaro2 mt-5">
    <br>
    <h2  class="ml-2 azulLetra">Profesores mas requeridos.</h2> 
    <app-cards-general></app-cards-general>
    <br>
  </div> 
  
  <div class="container naranjaClaro2 mt-5">
    <br>
    <h2  class="ml-2 azulLetra">Profesores recientes.</h2> 
    <app-cards-general></app-cards-general>
    <br>
  </div> 
  
  <div class="container naranjaClaro2 mt-5">
    <br>
    <h2  class="ml-2 azulLetra">Recomendados.</h2> 
    <app-cards-general></app-cards-general>
    <br>
  </div> 
  
    
  <div class="container naranjaClaro2 mt-5">
    <br>
    <h2  class="ml-2 azulLetra">Explicación de la página.</h2> 
    <app-carrousel-img></app-carrousel-img>
    <br>
  </div> 
  
  
  <div class="container naranjaClaro2 mt-5">
    <br>
    <h2  class="ml-2 azulLetra">Pasos de pago.</h2> 
    <app-carrousel-img></app-carrousel-img>
    <br>
  </div> 

  <br>
  
  