<div class="container container-color pt-3 pb-5">
    <div class="row">
        <p-card style="width: 90%;margin: auto;" class='card'>
            <div class="col-lg-12 mt-3 text-center">
                <h3 class="color-f "> Archivos</h3>
                <img class='img-a' *ngFor="let item of archivo.archivos" [src]="item" (click)='open(item)'>

            </div>
            <div class="col-lg-12 mt-3 text-center">
                <button mat-button color='primary'>Descargar archivos</button>
                <br>
                <button mat-button color='warn'  class='mt-2' (click)='postularme()' class=''>Postularme para resolverlo</button>

            </div>
        </p-card>
 
        <div class="col-lg-12 text-center mt-3">
            <p-card style="width: 92.5%;margin: auto;" class='card'>
                <div class="row">

                    <div class="col-12">
                        <h3 class="color-f ">Datos generales: </h3>

                    </div>
                    <div class='col-4 desk'>
                        <p class='color-f '>Nombre: <span class='color-d'>{{archivo.nombre}}</span></p>
                        <p class='color-f '>Fecha: <span class='color-d'>{{archivo.fecha | date}}</span></p>
                        <p class='color-f '>Estado: <span class='color-d'>{{archivo.estado}}</span></p>
                    </div>
                    <div class='col-4 desk'>
                        <p class='color-f  '>Institución: <span class='color-d'>{{archivo.institucion}}</span></p>
                        <p class='color-f  '>Carrera: <span class='color-d'>{{archivo.carrera}}</span></p>

                    </div>

                    <div class='col-4 desk'>

                        <p class='color-f  '>Materia: <span class='color-d'>{{archivo.materia}}</span></p>
                        <p class='color-f  '>Nivel: <span class='color-d'>{{archivo.nivel}}</span></p>
                    </div>

                    <div class='col-12 mob'>
                        <p class='color-f '>Nombre: <span class='color-d'>{{archivo.nombre}}</span></p>
                        <p class='color-f '>Fecha: <span class='color-d'>{{archivo.fecha | date}}</span></p>
                        <p class='color-f '>Estado: <span class='color-d'>{{archivo.estado}}</span></p>

                        <p class='color-f  '>Institución: <span class='color-d'>{{archivo.institucion}}</span></p>
                        <p class='color-f  '>Carrera: <span class='color-d'>{{archivo.carrera}}</span></p>

                        <p class='color-f  '>Materia: <span class='color-d'>{{archivo.materia}}</span></p>
                        <p class='color-f  '>Nivel: <span class='color-d'>{{archivo.nivel}}</span></p>
                    </div>
                </div>





            </p-card>

        </div>

        <div class="col-lg-12 mt-3 text-center" *ngIf='archivo.estado== "pendiente" || archivo.estado== "resuelto"'>
            <p-card style="width: 92.5%;margin: auto;" class='card'>
                <h3 class="color-f ">Datos del alumno: </h3>
                <p class='color-f '>Nombre: <span class='color-d'>{{alumno.nombreCompleto}}</span></p>

            </p-card>

        </div>

        <div class="col-lg-12 text-center mt-3 mb-5" *ngIf=' archivo.estado== "pendiente"'>
            <p-card style="width: 92.5%;margin: auto;" class='card'>
                <div class="col-lg-12" *ngIf=' archivo.estado== "pendiente"'>
                    <h3 class="color-f ">
                        Adjuntar resolucion del modelo
                    </h3>
                </div>
                <div class="col-lg-12 text-center  mt-3" *ngIf=' archivo.estado== "pendiente"'>

                    <div class='w-80 mt-4'>
                        <p-fileUpload name="demo[]" url="./upload.php" (onUpload)="onUpload($event)" multiple="multiple"
                            accept="image/*" maxFileSize="1000000">
                            <ng-template pTemplate="content">
                                <ul *ngIf="uploadedFiles.length">
                                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                                </ul>
                            </ng-template>
                        </p-fileUpload>
                    </div>
                    <div class='w-80 mt-4'>
                        <h3 class="color-f ">
                            Comentarios opcionales </h3>
                        <textarea class='m-2 w-100' [rows]="5" [cols]="30" [(ngModel)]="comentario" pInputTextarea
                            autoResize="autoResize"></textarea>

                    </div>



                    <button mat-button  color='warn' class='mt-2' [disabled]='!this.files' (click)='enviar()' >Enviar
                        resolucion</button>


                </div>

            </p-card>
        </div>
        <div class="col-lg-12 text-center mt-3" *ngIf='resoluciones && archivo.estado== "resuelto" '>
          <mat-card class='card-interna' style='width: 92.5%;margin: auto;'>
            <div class="col-lg-12 mt-2" *ngIf='resoluciones && archivo.estado== "resuelto" '>
                <h3 class="color-f ">
                    Resolucion entregada
                </h3>
            </div>
            <div class="col-lg-12 text-center" *ngIf='resoluciones && archivo.estado== "resuelto" '>
                <mat-card class='card-interna' *ngFor='let item of resoluciones' style="width: 92.5%;margin: auto;">
                    <div class="product-item">
                        <div class="product-list-img">
                            <i class="pi pi-file" style="font-size: 2rem"></i>

                        </div>
                        <div class="product-list-detail">
                            <h5 class="p-mb-2">{{item}}</h5>
                            <span>Particular : nombre particular</span>
                        </div>
                        <div class="product-list-action">
                            <div class='stars'>
                                <i class="pi pi-star fs-21" [ngClass]='(item.valoracion >= 1)?"amarillo":""'></i>
                                <i class="pi pi-star fs-21" [ngClass]='(item.valoracion >= 2)?"amarillo":""'></i>
                                <i class="pi pi-star fs-21" [ngClass]='(item.valoracion >= 3)?"amarillo":""'></i>
                                <i class="pi pi-star fs-21" [ngClass]='(item.valoracion >= 4)?"amarillo":""'></i>
                                <i class="pi pi-star fs-21" [ngClass]='(item.valoracion >= 5)?"amarillo":""'></i>
                                <span class='subtitle'>
                                    {{item.valoracion}}/ 5
                                </span>


                            </div>

                            <div class='actions' style='text-align: end;'>

                               
                                <button mat-button color='warn'(click)='openRes(item)' type="button">Ver</button>
                          
                          
                            </div>


                        </div>
                    </div>
                </mat-card>
            </div>
          </mat-card>

        </div>

        <div class="col-lg-12 text-center mt-3 mb-5" *ngIf='resoluciones && archivo.estado== "resuelto" '>
            <p-card style="width: 92.5%;margin: auto;" class='card'>
                <div class="col-lg-12 mt-2">
                    <h3 class="color-f ">
                        Comentarios opcionales
                    </h3>
                </div>
                <div class="col-lg-12 mt-2">
                    <p class="">
                        Comentarios
                    </p>
                </div>

            </p-card>
        </div>




    </div>
</div>