.categoria {
    background-color: #62BEA3;
    position: absolute;
    bottom: 78%;
    right: 5%;
    font-size: 15px;
    padding: 2px 5px;
    text-align: center;
    color: #fff;
    margin: 10px 10px 0 0;
}