
<div class="container" style="min-height: 45vh;">
    <div class="row">
        <div class="col-lg-12 m-5 text-center">
            <p-card class='card' style='width: 90%;margin: auto;'>
                <h3>Nuevo Mensaje</h3>
                <span class="p-float-label w-80  mt-4">
                    <input id="float-input"  class='w-100' type="text" pInputText> 
                    <label for="float-input">Destinario</label>
                </span>
                <span class="p-float-label w-80  mt-4">
                    <input id="float-input"  class='w-100' type="text" pInputText> 
                    <label for="float-input">Asunto</label>
                </span>
                <span class="p-float-label w-80 mt-4">
                    <p-editor [(ngModel)]="text" [style]="{'height':'320px'}"></p-editor>

                </span>

            <button pButton type="button"  class='mt-2'   (click)='enviar()'  label="Confirmar"></button>
            </p-card>
        </div>
    </div>
</div>
