<div class="container container-color pb-5 pt-5" style="min-height: 45vh;width: 80%;">
    <div class="row">
        <div class="col-lg-12 text-center">
            <p-card class='card-container card'>
                <h3>Nuevo Mensaje</h3>
                <form [formGroup]="formDatos" class="ui large error form">
               
                    <span class="p-float-label w-80  mt-4">
                       
                        <p-dropdown [options]="usuarios" class='w-100' formControlName="destinatario"  optionLabel="name"
                        [filter]="true" filterBy="name" [showClear]="true" placeholder="Destinatario">
                        <ng-template pTemplate="selectedItem">
                            <div class="country-item country-item-value" *ngIf="formDatos.get('destinatario').value">
                                <div>{{(formDatos.get('destinatario').value).name}}</div>
                            </div>
                        </ng-template>
                        <ng-template let-country pTemplate="item">
                            <div class="country-item">
                                <div>{{country.name}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    </span>
                    <div *ngIf="formDatos.get('destinatario').hasError('required') && formDatos.get('destinatario').touched"
                        class="text-center">
                        <small class="p-error">Este campo es <strong>requerido</strong></small>
                    </div>
                    <span class="p-float-label w-80  mt-4">
                        <input id="float-input" formControlName="asunto" class='w-100' type="text" pInputText>
                        <label for="float-input">Asunto</label>
                    </span>
                    <div *ngIf="formDatos.get('asunto').hasError('required') && formDatos.get('asunto').touched"
                        class="text-center">
                        <small class="p-error">Este campo es <strong>requerido</strong></small>
                    </div>
                    <span class="p-float-label w-80 mt-4">
                        <p-editor  formControlName="mensaje" [style]="{'height':'320px'}"></p-editor>

                    </span>
                    <div *ngIf="formDatos.get('mensaje').hasError('required') && formDatos.get('mensaje').touched"
                        class="text-center">
                        <small class="p-error">Este campo es <strong>requerido</strong></small>
                    </div>

                </form>

                <button pButton class='mt-2' (click)='enviar()'>Confirmar</button>
            </p-card>
        </div>
    </div>
</div>