<div mat-dialog-content>
    <div class="">
        <div class="modal-header">
            <div type="button" class="close" mat-dialog-close aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </div>
        </div>
        <div class="modal-body text-center">
            <p> Total a pagar : $300</p>

            <ng-template class='mt-3' matStepLabel>Tipo de servicio </ng-template>
            <p-selectButton [options]="tipos" [(ngModel)]="selectedType" optionLabel="name"></p-selectButton>
            <button pButton type="button" class='mt-3' (click)='confirmarPagar()' label="Confirmar y pagar"></button>



        </div>
    </div>
</div>