<div mat-dialog-content>
    <div class="">
        <div class="modal-header">
            <div type="button" class="close" mat-dialog-close aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </div>
        </div>
        <div class="modal-body text-center">
            <div class="w-100">
                <h3 class='color-f'> Total a pagar : $300</h3>

                <h3 class='color-f'>Tipo de servicio :</h3>

                <p-dropdown [options]="tipos" [(ngModel)]="selectedType" optionLabel="name"></p-dropdown>
            </div>

            <div class='w-100 mt-3'>
                <button mat-button color='warn' (click)='confirmarPagar()'>Confirmar y pagar</button>

            </div>

        </div>
    </div>
</div>