.img-modal {
    max-height:55vh!important;
    max-width:60vw!important;
    width: 100%!important;
  }
  
 
  
  .mat-dialog-container{
    padding:5px 16px!important;
    width: 80vw!important;
    height: 70vh!important;
    max-height: 70vh!important;
  }

  .mat-dialog-content {
    
    overflow:hidden;
  }

  p{
   text-align:center!important; 
   margin-top: 5px!important;
 }
 img{
    width: auto!important;
 }

 .icon{
    top:45%!important;
    position: relative;
  }

  .icon:hover{
    cursor: pointer;
  }