  
  <div class="container blanco mt-5">
    <br>
    <h2  class="ml-3 azulLetra">Conoce nuestros beneficios</h2> 
    <h4 class="ml-3 grisLetra">Descubre los descuentos que ofrecemos.</h4>>
  
    <div class="container">
      <div class="row">
        <div class="col-sm blanco">
          <mat-card class="example-card">
            <mat-card-subtitle class="verde blancaLetra">Beneficios</mat-card-subtitle>
            <mat-card-title>MÁS RECONOCIMIENTO</mat-card-title>
            <mat-card-content>
              <p>This card has divider and indeterminate progress as footer</p>
              <p></p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
          </mat-card>
        </div>
        <div class="col-sm">
          <mat-card class="example-card">
            <mat-card-subtitle class="verde blancaLetra">Benificios</mat-card-subtitle>
            <mat-card-title>NOSE</mat-card-title>
            <mat-card-content>
              <p>This card has divider and indeterminate progress as footer</p>
              <p></p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
          </mat-card>
        </div>
        <div class="col-sm">
          <mat-card class="example-card">
            <mat-card-subtitle class="verde blancaLetra">Benificios</mat-card-subtitle>
            <mat-card-title>NOSE</mat-card-title>
            <mat-card-content>
              <p>This card has divider and indeterminate progress as footer</p>
              <p></p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
          </mat-card>
        </div>
      </div>
      <br>
    </div>
   </div> 
  

     
    <div class="container blanco mt-5">
        <br>
        <h2  class="ml-2 azulLetra">Primeros pasos</h2> 
        <app-carrousel-img></app-carrousel-img>
        <br>
      </div> 
    

    <div class="container blanco mt-5">
      <br>
      <h2  class="ml-2 azulLetra">Pasos de recibo de pago.</h2> 
      <app-carrousel-img></app-carrousel-img>
      <br>
    </div> 
  
    <br>
    
    
