


<div class="container blanco ">
  <br>
   <mat-card class="opacity">
    <h2 class="ml-3 color-f">Lo que podes hacer</h2>

    <div class="container">
      <div class="row">
        <div class="col-sm ">
          <mat-card class="example-card">
            <div class="categoria">Modelos</div>
            <mat-card-title class='color-a mt-4'> Resuelve modelos para tus alumnos</mat-card-title>
            <mat-card-content>
              <p>info</p>
              <p></p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-sm">
          <mat-card class="example-card">
            <div class="categoria">Busquedas</div>
            <mat-card-title class='color-a mt-4'>Conoce las matarias mas buscadas</mat-card-title>
            <mat-card-content>
              <p>info</p>
              <p></p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-sm">
          <mat-card class="example-card">
            <div class="categoria">Busquedas</div>
            <mat-card-title class='color-a mt-4'>Obtener mejor posicionamiento</mat-card-title>
            <mat-card-content>
              <p>info</p>
              <p></p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <br>
    </div>
   </mat-card>
</div>



