.gris{
    background-color: rgb(129, 129, 129)!important;
}

.espacio{
    width: 150px;
}

.example-chip-list {
    width: 100%;
}
.pi-search{
    font-size: 23px;
    bottom: 23%;
    position: absolute;
    right: 1%;
    cursor: pointer;
    right: 0.5rem;
    color: #6c757d;
}
.p-autocomplete {
  
    width: 100%!important;
}
.cancel {
    border-style: hidden;
    padding: 0px;
}

.icofont-search-2 {
    color: black !important;
    font-size: 25px;
}

.icofont-search-2:hover {
    cursor: pointer;
}