.pagina-actual {
    background-color:#dbdbdb!important;
}
.menu{
    margin:0px 0px 1.5em 0px!important;
}
.ui.pagination.menu .item{
    padding-top: 8px !important;
    padding-bottom: 4px !important;
}
