<div class="row">
	<div class="col-lg-6">
		<h4 class='color-f'>Fechas</h4>

		<span class='m-2'>
			<p-dropdown [options]="meses" [(ngModel)]="SelectedMes" (click)='filter()' optionLabel="name"
				[filter]="true" filterBy="name" [showClear]="true" placeholder="Mes">
				<ng-template pTemplate="selectedItem">
					<div class="country-item country-item-value" *ngIf="SelectedMes">
						<div>{{SelectedMes.name}}</div>
					</div>
				</ng-template>
				<ng-template let-country pTemplate="item">
					<div class="country-item">
						<div>{{country.name}}</div>
					</div>
				</ng-template>
			</p-dropdown>
		</span>
		<span class='m-2'>
			<p-dropdown [options]="anos" [(ngModel)]="SelectedAno" optionLabel="name" [filter]="true" filterBy="name"
				[showClear]="true" placeholder="Año">
				<ng-template pTemplate="selectedItem">
					<div class="country-item country-item-value" *ngIf="SelectedAno">
						<div>{{SelectedAno.name}}</div>
					</div>
				</ng-template>
				<ng-template let-country pTemplate="item">
					<div class="country-item">
						<div>{{country.name}}</div>
					</div>
				</ng-template>
			</p-dropdown>
		</span>
		<div class='w-100 mt-3 text-center'>
			<div class='date-results' (click)='verHorarios(date)' *ngFor='let date of dates'>
				{{ date |date}}
			</div>
			<div *ngIf='dates.length ==0'>
				No hay disponibilidad
			</div>
		</div>

	</div>
	<div class="col-lg-6">
			<h4 class='color-f'>{{value| date}}- Horarios</h4>
			<p-selectButton [options]="horarios" [(ngModel)]="horariosAsignados" multiple="multiple" optionLabel="name"
				optionValue="value"></p-selectButton>
			<button pButton class='mt-2' type="button" label="Confirmar" (click)='confirmar()'></button>
	



	</div>
</div>