.stars {
    bottom: 43%;
    right: 1%;
    padding: 5px 11px;
    text-align: center;
}
.pi pi-star{
    color: #b2beb7;
    font-size: 25px!important;
}
.amarillo{
    color: #e0d71e!important;
}
.pi-map-marker{
    color: #E47474;
  
  }
