<div class="container container-color pb-5 pt-5" style="min-height: 45vh;width: 80%;">
    <div class="row">
        <div class="col-lg-12  text-center">
            <p-card class='card-container card'>
                <h3>Nuevo Modelo</h3>
                <form [formGroup]="formDatos" class="ui large error form">
                    <span class="p-float-label w-80  mt-5">
                        <input id="nombre" type="text" class='w-100' pInputText formControlName="nombre">
                        <label for="nombre">Nombre</label>
                    </span>
                    <div *ngIf="formDatos.get('nombre').hasError('required') && formDatos.get('nombre').touched"
                        class="text-center">
                        <small class="p-error">Este campo es <strong>requerido</strong></small>
                    </div>
                    <span class="p-float-label w-80 mt-4">
                        <p-dropdown
                            id="institucion"
                            [autoDisplayFirst]="false"
                            [options]="_institucion"
                            class='w-100'
                            formControlName="institucion"
                            optionLabel="nombre"
                            optionValue="id"
                            [filter]="true"
                            filterBy="nombre" >
                        </p-dropdown>
                        <label for="institucion">Institución</label>
                    </span>
                    <div *ngIf="formDatos.get('institucion').hasError('required') && formDatos.get('institucion').touched"
                        class="text-center">
                        <small class="p-error">Este campo es <strong>requerido</strong></small>
                    </div>
                    <span class="p-float-label w-80 mt-4">
                        <p-dropdown
                            id="carrera"
                            [autoDisplayFirst]="false"
                            [options]="_carrera"
                            class='w-100'
                            formControlName="carrera"
                            optionLabel="nombre"
                            optionValue="id"
                            [filter]="true"
                            filterBy="nombre" >
                        </p-dropdown>
                        <label for="institucion">Carrera</label>
                    </span>
                    <div *ngIf="formDatos.get('carrera').hasError('required') && formDatos.get('carrera').touched"
                        class="text-center">
                        <small class="p-error">Este campo es <strong>requerido</strong></small>
                    </div>
                    <span class="p-float-label w-80 mt-4">
                        <p-dropdown
                            id="materia"
                            [autoDisplayFirst]="false"
                            [options]="_materias"
                            class='w-100'
                            formControlName="materia"
                            optionLabel="nombre"
                            optionValue="id"
                            [filter]="true"
                            filterBy="nombre">
                        </p-dropdown>
                        <label for="materia">Materia</label>
                    </span>
                    <div *ngIf="formDatos.get('materia').hasError('required') && formDatos.get('materia').touched"
                        class="text-center">
                        <small class="p-error">Este campo es <strong>requerido</strong></small>
                    </div>
                    <span class="p-float-label w-80  mt-4">
                        <p-dropdown
                            id="nivel"
                            [autoDisplayFirst]="false"
                            [options]="_niveles"
                            class='w-100'
                            formControlName="nivel"
                            optionLabel="descripcion"
                            optionValue="id">
                        </p-dropdown>
                        <label for="nivel">Nivel</label>
                    </span>
                    <div *ngIf="formDatos.get('nivel').hasError('required') && formDatos.get('nivel').touched"
                        class="text-center">
                        <small class="p-error">Este campo es <strong>requerido</strong></small>
                    </div>
                    <span class="w-80 mt-4 field field-checkbox">
                        <p-checkbox binary=true
                            value="true" 
                            formControlName="publico" 
                            inputId="publico">
                        </p-checkbox>
                        <label for="publico">Público</label>
                    </span>
                    <small id="publico">Si elegís la opción de público, el modelo estará visible para el resto de los usuarios de la página.</small>
                    <div class='w-80 mt-3'>
                        <p-fileUpload class='mt-4' name="demo[]" customUpload="true"
                            (onSelect)="seleccionarModelo($event)"
                            (onClear)="cancelarSeleccionDeModelos()"
                            (onRemove)="borrarModelo($event)"
                            multiple="multiple" accept="image/*" chooseLabel="Elegir" [showUploadButton]=false>
                        </p-fileUpload>
                    </div>
                </form>
                <button pButton class='mt-2' [disabled]='!uploadedFiles' (click)='confirmar()'>Confirmar</button>
            </p-card>
        </div>
    </div>
</div>