

<p-menubar class='menu' [model]="items">
  
  <ng-template pTemplate="start">
    <span class="logo">
      <a href="/"><img src="/assets/img/logoAnteojoREDONDO.png" style="height: 55px;" alt="logo"></a>
    </span>
    
  </ng-template>

  <div style='text-align: center;'>
    <span class="p-input-icon-right m-2">
      <i class="pi pi-search" (click)='buscar()'></i>
      <input type="text"   class="p-inputtext-sm w-100" pInputText placeholder="Buscar clases.." [(ngModel)]="buscarText" />
  </span>

<button mat-button color='warn'   *ngIf='isLoggedIn' (click)='logout()' icon="pi pi-sign-out
" style="margin-left:.25em">Cerrar
Sesión</button>

<button mat-button color='warn'  *ngIf='!isLoggedIn' (click)='login()'  icon="pi pi-sign-in
" style="margin-left:.25em">Iniciar
Sesión</button>

<button mat-button color='warn' *ngIf='!isLoggedIn'  (click)='register()'  icon="pi pi-user-plus
" style="margin-left:.25em">Registrarse</button>
</div>
</p-menubar>
