.menu{
    background-color: #62BEA3;
}
.pi-search{
    cursor: pointer;
}
.p-menubar {
    padding:1rem!important;
    background: #62BEA3!important;
    color: #23be90!important;
    border: 1px solid #dee2e6!important;
    border-radius: 3px!important;
}