<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <span class="logo">
      <a href="index.html"><img src="/assets/img/Logo_2.png" style="height: 55px;" alt="logo"></a>
    </span>
  </ng-template>

  <div>
    

<button type="button" pButton label="Cerrar
Sesion"  *ngIf='isLoggedIn' (click)='logout()' icon="pi pi-sign-out
" style="margin-left:.25em"></button>

<button type="button" pButton label="Iniciar
Sesion" *ngIf='!isLoggedIn' (click)='login()'  icon="pi pi-sign-in
" style="margin-left:.25em"></button>

<button type="button" pButton label="Registrarse" *ngIf='!isLoggedIn'  (click)='register()'  icon="pi pi-user-plus
" style="margin-left:.25em"></button>
</div>
</p-menubar>
