<div class="container-header ">
  <span class="logo">
    <a href="index.html"><img src="/assets/img/Logo_2.png" style="height: 55px;" alt="logo"></a>
  </span>

  <mat-list role="list" *ngIf=' mostrar() '>
    <mat-list-item [routerLinkActive]="['is-active']" *ngFor='let item of menu' role="listitem" class='list-header'>
      <a *ngIf='item.type=="badge"' matBadgeColor="accent" matBadge="4" [matBadgeHidden]="hidden" (click)="toggleBadgeVisibility()" class='a-header' [href]='item.href'>{{item.title}}</a>
      <a *ngIf='item.type!="badge"' class='a-header' [href]='item.href'>{{item.title}}</a>
    </mat-list-item>
    <mat-list-item *ngIf='isLoggedIn' role="listitem" (click)='logout()'> <button mat-raised-button>Cerrar
        Sesion</button></mat-list-item>
    <mat-list-item *ngIf='!isLoggedIn' role="listitem" (click)='login()'> <button  mat-raised-button color='warn'>Iniciar
        Sesion</button></mat-list-item>
    <mat-list-item *ngIf='!isLoggedIn' role="listitem" (click)='register()' color='primary' > <button class="azul blancaLetra"
        mat-raised-button>Registrarse</button></mat-list-item>
  </mat-list>
</div>