.container-header{
    background-color: #003567!important;
    width: 100%!important;
    padding: 15px;
    z-index:1000;
    left: 0; /* Posicionamos la cabecera al lado izquierdo */
    top: 0; /* Posicionamos la cabecera pegada arriba */
    position: fixed; /* Hacemos que la cabecera tenga una posición fija */
    flex-wrap: wrap!important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mat-list-base{
    display: flex!important;
}