.letraMasGrande{ 
    font-size: 20px; }

.boton{
    width:200px;
    height:50px;
    padding-left: 10%;
    padding-right: 10%;
 }

 .contenedor{
     display: flex;
 }

 .contenedor-img img{
     height: 200px;
 }

 .verde{
    background: #23be90;
    width: 600px;
}

.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    min-height: 30vh;
}
@media screen and (max-width: 500px) {
    .contenedor{
     display: block;
    }
    .contenedor-img img{
        height: auto;
        width: 100%;
    }
}