<div class="container centrar">
<div class="contenedor-img mt-4  p-3 verde desk">
    <img style="display:block;margin:0 auto 0 auto;" src="assets/img/logoAnteojoREDONDO.png" alt="">
</div>
<div class="contenedor-img mt-4  p-3 verde mob">
    <img style="display:block;margin:0 auto 0 auto;" src="assets/img/logoAnteojoREDONDO.png" alt="">
</div>
</div>
<div class="m-2 row justify-content-center prueba mt-5">
    <div class="container center col-auto contenedor">
    <button pButton  class="letraMasGrande pl-5 pr-5 mb-4 mr-4 boton"
    mat-raised-button [routerLink]="['/registrar-alumno']">Alumno</button>
    <br>
    <button  pButton class="letraMasGrande pl-5 pr-5 mb-5 boton"
    mat-raised-button [routerLink]="['/registrar-particular']">Particular</button>
    </div>
</div>

