<div class="container container-color pb-5 pt-5 " style="min-height: 45vh;width: 80%;">
    <div class="row">
        <div class="col-lg-12 text-center">
            <p-card class='card-container card'>
                <h3>Nuevo Mensaje</h3>
                <span class="p-float-label w-80  mt-4">
                    <input id="float-input" class='w-100' type="text" pInputText>
                    <label for="float-input">Titulo</label>
                </span>
                <span class="p-float-label w-80 mt-4">
                    <textarea  class='w-100'  pInputTextarea></textarea>
                    <label for="float-input">Descripción</label>

                </span>

                <button mat-button color='warn' class='mt-2' (click)='enviar()'>Confirmar</button>
            </p-card>
        </div>
    </div>
</div>