<div mat-dialog-content>
    <div class="">
        <div class="modal-header">
            <div type="button" class="close" mat-dialog-close aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </div>
        </div>
        <div class="modal-body text-center">

            <mat-horizontal-stepper>
                <mat-step>
                    <ng-template matStepLabel>Fill out your name</ng-template>

                    contenido 1

                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                      </div>
                </mat-step>
                <mat-step >
                    <ng-template matStepLabel>Fill out your name</ng-template>

                    contenido 2

                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                      </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Fill out your name</ng-template>

                    contenido 3
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                      </div>
                </mat-step>
            </mat-horizontal-stepper>
        </div>
    </div>
</div>