<div class="container container-color pb-5 pt-5" style="min-height: 45vh; width: 80%">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div>
                <mat-card class="card-container card">
                    <h3>Editar clase</h3>
                    <form [formGroup]="formDatos" class="ui large error form">
                        <div class="grid container">
                            <div class="col-md-12">
                                <br />
                                <div class="field col-6">
                                    <span class="p-float-label">
                                        <input id="nombre" type="text" pInputText formControlName="nombre"
                                            class="inputfield w-full" />
                                        <label for="nombre">Nombre</label>
                                    </span>
                                    <div *ngIf="formDatos.get('nombre').hasError('required') && formDatos.get('nombre').touched"
                                        class="text-center">
                                        <small class="p-error">Este campo es <strong>requerido</strong></small>
                                    </div>
                                </div>

                          
                           
                                <div class="field col-6">
                                    <span class="p-float-label">
                                        <input disabled id="precio" type="number" pInputText formControlName="precio"
                                            class="inputfield w-full" />
                                        <label for="precio">Precio</label>
                                    </span>
                                    <div *ngIf="
                        formDatos.get('precio').hasError('required') &&
                        formDatos.get('precio').touched
                      " class="text-center">
                                        <small class="p-error">Este campo es <strong>requerido</strong></small>
                                        <div *ngIf="formDatos.get('precio').hasError('min') && formDatos.get('precio').touched"
                                            class="text-center">
                                            <small class="p-error">El valor de este campo debe ser mayor a
                                                <strong>0</strong></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                        </div>
                        <div class="col-lg-12 text-center">
                            <app-calendar-editar  (existeFechaContratada)="existeFechaContratada($event)" (addDisponibilidad)="addDisponibilidad($event)"></app-calendar-editar>
                        </div>
                        <button pButton class="mt-2" (click)="editarClase()">
                            Confirmar </button>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>