<div class="p-3 container-color">
  <p-card>
    <div class="flex justify-content-evenly">
      <div>
        <img mat-card-avatar src="../../../../../assets/img/default-user.png"/>
      </div>
      <p-divider layout="vertical"></p-divider>
      <div>
        <h4>{{user.nombre }} {{user.apellido}} </h4>  
        <h4 class='fs-16 mb-3'>Edad: <span>25</span></h4>
        <h4 class='fs-16 mb-3'>Intereses: <span> - </span></h4>
        <h4 class='fs-16 mb-3'>Institución: <span> - </span></h4>
        <h4 class='fs-16 mb-3'>Nivel académico: <span> - </span></h4>
      </div>
      <p-divider layout="vertical"></p-divider>
      <div>
          <iframe src="https://www.youtube.com/embed/V202A8p7uh8" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
          </iframe>
      </div>
    </div>
  </p-card>
  <p-card styleClass="mt-3">
    <p-table [value]="clases">
      <ng-template pTemplate="caption">
        <div>
          <h4 class="color-f">Mis clases</h4>
        </div>
    </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre de la clase</th>
          <th>Nombre del profesor</th>
          <th>Fecha de clase</th>
          <th>Estado</th>
          <th>Video</th>
          <th></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-clase>
        <tr>
            <td>{{clase.nombre}}</td>
            <td>{{clase.profesor}}</td>
            <td>{{clase.fecha | date}}</td>
            <td>{{clase.estado}}</td>
            <td><button pButton icon="pi pi-youtube"></button></td>
            <td><button pButton label="Ver más"></button></td>
            <td><a href="nuevo-mensaje"><button pButton label="Contactar" class="mt-2"></button></a> </td>  
        </tr>
    </ng-template>
    </p-table>
  </p-card>
  <!--<p-card styleClass="mt-3">
    <div class="grid">
      <div class="col-12">
        <h2 class="color-f">Conocé nuestros beneficios</h2>
        <p class="grisLetra">Descubre los descuentos que ofrecemos.</p>
      </div>
    </div>
    <div class="grid">
      <div class="col-4" *ngFor="let beneficio of beneficios">
        <p-card styleClass="card-interna">
          <ng-template pTemplate="header">
              <div class="categoria pl-2 ">{{beneficio.subtitulo}}</div>
          </ng-template>
          <ng-template pTemplate="title">{{beneficio.titulo}}</ng-template>
          <p>{{beneficio.contenido}}</p>
        </p-card>
      </div>
      <br>
    </div>
  </p-card>-->
</div>