<div class="p-5 container container-color2">
  <div class="container mt-2">
    <div class="row">
      <div class="col-sm-12 col-md-3 mt-3">
          <img mat-card-avatar src="../../../../../assets/img/default-user.png" width="220" height="200" />

      </div>
      <div class="col-sm grisLetra">
        <h3 class="color-f m-4">Nombre y apellido </h3>

        <h4 class='color-a fs-16 m-4'>Edad: <span>Edad</span></h4>
        <h4 class='color-a fs-16 m-4'> Intereses: <span>Intereses</span></h4>
        <hr />
        <h4 class='color-a fs-16 m-4'>Institución: <span> Institución </span></h4>
        <h4 class='color-a fs-16 m-4'>Nivel académico:<span> Nivel académico</span> </h4>

      </div>
    </div>
  </div>



  <div class="container mt-3 text">
    <br>
    <h4 class="color-f">Mis clases : </h4>
    <app-tabla-misclases></app-tabla-misclases>
    <br>
  </div>

  <div class="container mt-5 z-index blanco2">
    <br>
    <h4 class="color-f">Beneficios : </h4>
    <carousel>
      <div class="carousel-cell">
        <div class="col-sm">
          <mat-card class="example-card">
            <mat-card-subtitle class="verde blancaLetra pl-2">Descuentos</mat-card-subtitle>
            <h6>PACK 20 CLASES A -10%</h6>
            <mat-card-content>
              <p>This card has divider and indeterminate progress as footer</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="col-sm">
          <mat-card class="example-card">
            <mat-card-subtitle class="verde blancaLetra pl-2">Descuentos</mat-card-subtitle>
            <h6>PACK 20 CLASES A -10%</h6>
            <mat-card-content>
              <p>This card has divider and indeterminate progress as footer</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="col-sm">
          <mat-card class="example-card">
            <mat-card-subtitle class="verde blancaLetra pl-2">Descuentos</mat-card-subtitle>
            <h6>PACK 20 CLASES A -10%</h6>
            <mat-card-content>
              <p>This card has divider and indeterminate progress as footer</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="col-sm">
          <mat-card class="example-card">
            <mat-card-subtitle class="verde blancaLetra pl-2">Descuentos</mat-card-subtitle>
            <h6>PACK 20 CLASES A -10%</h6>
            <mat-card-content>
              <p>This card has divider and indeterminate progress as footer</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
            <div class="carousel-cell">
        <div class="col-sm">
          <mat-card class="example-card">
            <mat-card-subtitle class="verde blancaLetra pl-2">Descuentos</mat-card-subtitle>
            <h6>PACK 20 CLASES A -10%</h6>
            <mat-card-content>
              <p>This card has divider and indeterminate progress as footer</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

    </carousel>

    <br>
  </div>

  <div class="container mt-5 blanco2">
    <div class="row">
      <div class="col-sm-12 col-md-7 mt-3">
        <iframe width="553" height="280" src="https://www.youtube.com/embed/V202A8p7uh8" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <br>
      </div>
      <div class="col-sm grisLetra">
        <mat-list>
          <div mat-line>
            <h4 class="color-f">Clases cursadas : </h4>
          </div>
          <mat-selection-list #shoes [multiple]="false">
            <mat-list-option *ngFor="let folder of folders" [value]="folders" class="borde">
              <mat-icon mat-list-icon><i class="icofont-ui-video-play"></i></mat-icon>
              {{folder.name}} <br>
              {{folder.updated | date}}
            </mat-list-option>
          </mat-selection-list>
        </mat-list>
      </div>
    </div>
  </div>

</div>