.z-index{
    position:relative; z-index:2;
}

.blanco2{
    background-color: rgba(255, 255, 255, 0.555);
}
.categoria {
    background-color: #62BEA3;
    position: absolute;
    bottom: 78%;
    right: 5%;
    font-size: 15px;
    padding: 2px 5px;
    text-align: center;
    color: #fff;
    margin: 10px 10px 0 0;
}
.p-card .p-card-title {
    font-size: 1.5rem;
    font-weight: 500!important;
    margin-bottom: 0.5rem;
    margin-top: 24px;
}
.actions {
    position: absolute;
    bottom: 7%;
    right: 25%;
    padding: 5px 11px;
    text-align: center;
}
mat-card{
    margin: 10px;
    padding: 16px 0px 16px 0px!important;
}

.mat-card-avatar{
    height: 200px !important;
    width: 210px !important;
    margin:auto;
    object-fit: cover;
    border-radius: 100px;
}

.borde
 {
      border-bottom: 1px solid rgb(5, 168, 114); 
    }

.letraGrande{
    font-size: 40px; 
}

.card-subtitulo {
    position: relative;
    top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
