
<div class="container blanco">
  <br>
  <h2  class="ml-3 azulLetra">Busqueda de clases</h2> 
  <app-buscador></app-buscador>
  <br>
</div>
  


<div class="container blanco mt-5">
  <br>
  <h2  class="ml-3 azulLetra">Conoce nuestros beneficios</h2> 
  <p class="ml-3 grisLetra">Descubre los descuentos que ofrecemos.</p>

  <div class="container">
    <div class="row">
      <div class="col-sm blanco">
        <mat-card class="example-card">
          <mat-card-subtitle class="verde blancaLetra pl-2">Descuentos</mat-card-subtitle>
          <mat-card-title>PACK 20 CLASES 10%</mat-card-title>
          <mat-card-content>
            <p>This card has divider and indeterminate progress as footer</p>
            <p></p>
          </mat-card-content>
          <mat-divider inset></mat-divider>
        </mat-card>
      </div>
      <div class="col-sm">
        <mat-card class="example-card">
          <mat-card-subtitle class="verde blancaLetra pl-2">Descuentos</mat-card-subtitle>
          <mat-card-title>Primer clase GRATIS</mat-card-title>
          <mat-card-content>
            <p>Podes probar nuestros servicios gratuitamente la primera vez.</p>
            <p></p>
          </mat-card-content>
          <mat-divider inset></mat-divider>
        </mat-card>
      </div>
      <div class="col-sm">
        <mat-card class="example-card">
          <mat-card-subtitle class="verde blancaLetra pl-2">Descuentos</mat-card-subtitle>
          <mat-card-title>20% DE DESCUENTO</mat-card-title>
          <mat-card-content>
            <p>Si sos un suscriptor activo de la página durante un año.</p>
            <p></p>
          </mat-card-content>
          <mat-divider inset></mat-divider>
        </mat-card>
      </div>
    </div>
    <br>
  </div>
 </div> 


  
<div class="container blanco mt-5">
  <br>
  <h2  class="ml-3 azulLetra">Profesores mas solicitados</h2> 
  <app-cards-profesor></app-cards-profesor>
  <br>
</div>
<div class="container blanco mt-5">
  <app-primeros-pasos></app-primeros-pasos>
</div>
 

<div class="container blanco mt-5">
  <br>
  <h2  class="ml-3 azulLetra">Pasos de pago</h2> 
  <app-carrousel-img></app-carrousel-img>
  <br>
</div> 


<br>
<br>

