.carousel-item {
  width: 100%;
  height: 500px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (max-width: 600px) {
  .carousel-item {
    height: 280px;
  }
}

.categoria {
  background-color: #62BEA3;
  position: absolute;
  bottom: 83%;
  right: 1%;
  font-size: 15px;
  padding: 2px 5px;
  text-align: center;
  color: #fff;
  margin: 10px 10px 0 0;
}

.p-button-lg{
  width: 70%;;
}
.p-button-lg2{
  width: 25%;
}
.flex{
  display: flex!important;
}
.p-ef-r{
  padding: 0px 60px 0px 0px;
}
.p-ef-f{
  padding: 0px 0px 0px 60px;
}
.gratis{
  background-color: #23be90;
  border-radius: 2px;
  color:white;
  padding: 3px;
  font-size: 16px;
  position: absolute;
  left: 4%;
  top: 6%;

}
.numeracion{
  background-color: #23be90;
  border-radius: 69%;
  color: white;
  padding: 5px 10px 10px 10px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  position: absolute;
  left: 20%;
  top:-2%;

}
.img-p{
  width: 100%;
}
button{
  margin: 0.3em;
}
.mat-list-base {
  display: flex;
}
.text-right{
  text-align: right;
}
.stars {
  position: absolute;
  bottom: 73%;
  right: 1%;
  padding: 5px 11px;
  text-align: center;
}
.pi pi-star{
  font-size: 25px!important;
}
.amarillo{
  color: #fff424!important;
}