<div class="container container-color2">
    <div class="row">
        <div class="col-lg-12 mt-2 text-center">
            <h3> Archivos</h3>
            <img class='img-a' *ngFor="let item of archivo.archivos" [src]="item" (click)='open(item)'>

        </div>
        <div class="col-lg-12 mt-2 text-center">
            <button pButton type="button" label="Descargar archivos"></button>

        </div>
        <div class="col-lg-12 text-center mt-3">
            <p-card style="width: 90%;margin: auto;" class='card'>
                <h3 class="color-f ">Datos generales: </h3>

                <span>Nombre: {{archivo.nombre}}</span>
                <span>Fecha: {{archivo.fecha | date}}</span>
                <span> Estado: {{ archivo.estado}}</span>
                <hr />
                <span> Institución: {{ archivo.institucion}}</span>
                <span> Materia:{{ archivo.materia}}</span>
                <span> Nivel:{{ archivo.nivel}}</span>
            </p-card>

        </div>
        <p-inplace>
            <ng-template pTemplate="display">
                Click to Edit
            </ng-template>
            <ng-template pTemplate="content">
                <input type="text" value="PrimeNG" pInputText>
            </ng-template>
        </p-inplace>
        <div class='col-lg-12 text-center' *ngIf='resoluciones && archivo.estado=="resuelto"'>
            <h3 class="color-f">
                Resoluciones:
            </h3>

            <div *ngIf='resoluciones && archivo.estado=="resuelto"'>
                <ul class='ul-general'  style="width: 90%;margin: auto;">
                    <li class="li-general" *ngFor='let item of resoluciones'>
                        <div class="product-item">
                            <div class="product-list-img">
                                <i class="pi pi-file" style="font-size: 2rem"></i>

                            </div>
                            <div class="product-list-detail">
                                <h5 class="p-mb-2">{{item.doc}}</h5>
                                <span>Particular : {{ item.particular}}</span>
                            </div>
                            <div class="product-list-action">
                                <div class='stars'>
                                    <i class="icofont-star" [ngClass]='(item.valoracion >= 1)?"amarillo":""'></i>
                                    <i class="icofont-star" [ngClass]='(item.valoracion >= 2)?"amarillo":""'></i>
                                    <i class="icofont-star" [ngClass]='(item.valoracion >= 3)?"amarillo":""'></i>
                                    <i class="icofont-star" [ngClass]='(item.valoracion >= 4)?"amarillo":""'></i>
                                    <i class="icofont-star" [ngClass]='(item.valoracion >= 5)?"amarillo":""'></i>
                                    <span class='subtitle'>
                                        {{item.valoracion}}/ 5
                                    </span>


                                </div>

                                <div class='actions' style='text-align: end;'>

                                    <button pButton *ngIf='!item.valoracion' (click)='valorar()' type="button"
                                        label="Valorar" style='margin-right: 3px;'></button>
                                    <button pButton (click)='openRes(item.doc)' type="button" label="Ver"></button>
                                </div>


                            </div>
                        </div>

                    </li>
                </ul>

            </div>


            <p *ngIf='!resoluciones'>Aun no hay resoluciones</p>

        </div>

        <div class='col-lg-12 text-center'
            *ngIf='!resoluciones && archivo.estado=="resuelto" || archivo.estado=="pendiente"'>
            <p-card style="width: 90%;margin: auto;" class='card'>
                <h3 class="color-f">
                    Resoluciones
                </h3>
                <p>Aun no hay resoluciones</p>

            </p-card>
        </div>

        <div class="col-lg-12 text-center ">
            <h3 class="color-f">
                Profesores para la resolucion:
            </h3>
        </div>
        <div class="col-lg-12 mb-5">
            <ul class='ul-general'  style="width: 90%;margin: auto;">
                <li class="li-general" *ngFor='let item of archivo.profesores'>
                    <div class="product-item">
                        <div class="product-list-img">
                            <img [src]="'./assets/img/'+item.foto"
                                style="display:inline-block;margin:2px 0 2px 2px; width:100%">
                        </div>
                        <div class="product-list-detail">
                            <h5 class="p-mb-2">{{item.particular}}</h5>
                            <span>Costo de resolucion : {{ item.costo}}</span>
                            <span> Costo explicacion : {{ item.costo_explicacion}}</span>
                            <span>Demora: {{ item.demora}}</span>
                        </div>
                        <div class="product-list-action">
                            <div class='stars'>
                                <i class="icofont-star" [ngClass]='(item.valoracion >= 1)?"amarillo":""'></i>
                                <i class="icofont-star" [ngClass]='(item.valoracion >= 2)?"amarillo":""'></i>
                                <i class="icofont-star" [ngClass]='(item.valoracion >= 3)?"amarillo":""'></i>
                                <i class="icofont-star" [ngClass]='(item.valoracion >= 4)?"amarillo":""'></i>
                                <i class="icofont-star" [ngClass]='(item.valoracion >= 5)?"amarillo":""'></i>
                                <span class='subtitle'>
                                    {{item.valoracion}}/ 5
                                </span>


                            </div>

                            <div class='actions' style='text-align: end;'>
                                <button pButton (click)='contratar()' type="button" label="Contratar"></button>
                            </div>


                        </div>
                    </div>

                </li>
            </ul>

        </div>
    </div>
</div>