.stars {
    position: absolute;
    bottom: 70%;
    right: 1%;
    padding: 5px 11px;
    text-align: center;
}
.actions {
    position: absolute;
    bottom: 10%;
    right: 1%;
    padding: 5px 11px;
    text-align: center;
}
mat-card{
    margin: 10px;
    padding: 16px 0px 16px 0px!important;
}
.mat-card-avatar{

    height: 90px !important;
    width: 90px !important;
    margin-left: 10px!important;

}

.icofont-star{
    color: #b2beb7;
    font-size: 25px!important;
}
.amarillo{
    color: #e0d71e!important;
}
