<div class="container container-color">
    <div class="row">
        <div class="col-lg-12 text-center mt-3">
            <mat-card class='card-container  card'>
                <div class="col-lg-12 mt-3 text-center">
                    <h3 class="color-f "> {{modelo.nombre}}</h3>
                    <img class='img-a img-border' *ngFor="let archivo of modelo.archivos" [src]="obtenerImagenEnBase64(archivo)" (click)='verArchivo(archivo)'>
                </div>
                <div class="col-lg-12 mt-3 text-center">
                    <button mat-button color='primary' (click)="descargarArchivos()">Descargar archivos</button>
                </div>
                <div class="col-lg-12 mt-3 text-center">
                    <p>Si selecciona inactivar el modelo, no podrá recibir ofertas de resolución</p>
                    <button mat-button color='warn' (click)="actualizarEstadoModelo()">{{tituloBotonCambiarEstado}}</button>
                </div>
            </mat-card>
        </div>
        
        <div class="col-lg-12 text-left mt-3">
            <mat-card class='card-container  card' >
                <div class="row">
                    <div class="col-12">
                        <h3 class=" ml-3 color-f ">Datos generales: </h3>
                    </div>
                    <!--<div class="cartel">
                        Pendiente de respuesta
                    </div>-->
                    <div class='col-3 desk ml-3 text-center'>
                        <h4 class='fs-16 mb-3'>Nombre: <span>{{modelo.nombre}}</span></h4>
                        <h4 class='fs-16 mb-3'>Fecha: <span>{{modelo.fecha |date:'d/M/yy, h:mm a'}}</span></h4>
                        <h4 class='fs-16 mb-3'>Estado: <span>{{modelo.estado}}</span></h4>
                    </div>
                    <div class='col-4 desk ml-3  text-center'>
                        <h4 class='fs-16 mb-3'>Institución: <span>{{modelo.institucion.nombre}}</span></h4>
                        <h4 class='fs-16 mb-3'>Carrera: <span>{{modelo.carrera.nombre}}</span></h4>
                    </div>
                    <div class='col-4 desk ml-3  text-center'>
                        <h4 class='fs-16 mb-3'>Materia: <span>{{modelo.materia.nombre}}</span></h4>
                        <h4 class='fs-16 mb-3'>Nivel: <span>{{modelo.nivel.descripcion}}</span></h4>
                    </div>
                    <div class='col-12 mob  text-center'>
                        <h4 class='fs-16 mb-3'>Nombre: <span>{{modelo.nombre}}</span></h4>
                        <h4 class='fs-16 mb-3'>Fecha: <span>{{modelo.fecha |date:'d/M/yy, h:mm a'}}</span></h4>
                        <h4 class='fs-16 mb-3'>Estado: <span>{{modelo.estado}}</span></h4>
                        <h4 class='fs-16 mb-3'>Institución: <span>{{modelo.institucion.nombre }}</span></h4>
                        <h4 class='fs-16 mb-3'>Carrera: <span>{{modelo.institucion.nombre}}</span></h4>
                        <h4 class='fs-16 mb-3'>Materia: <span>{{modelo.materia.nombre}}</span></h4>
                        <h4 class='fs-16 mb-3'>Nivel: <span>{{modelo.nivel.descripcion}}</span></h4>
                    </div>
                </div>
            </mat-card>
        </div>
        <p-inplace>
            <ng-template pTemplate="display">
                Click to Edit
            </ng-template>
            <ng-template pTemplate="content">
                <input type="text" value="PrimeNG" pInputText>
            </ng-template>
        </p-inplace>
       
     
        <div class="col-lg-12 mb-5 mt-3">
            <mat-card class='card-container  card'>
                <div class="col-lg-12 text-center ">
                    <h3 class="color-f">
                        Profesores para la resolución:
                    </h3>
                </div>
                    <div class="col-lg-12 text-center ">
                     <p *ngIf='postulaciones.length == 0'>Aún no hay postulaciones</p>
                    </div>
                <mat-card class="card-interna" *ngFor='let item of postulaciones'>
                    <app-oferta
                        [ofertaDeResolucion]="item">
                    </app-oferta>
                </mat-card>
            </mat-card>
        </div>
    </div>
</div>