mat-card{
    margin: 10px;
    padding: 20px 0px 20px 0px!important;
}


.mat-card-avatar{
  height: 50px!important;
  width: 50px!important;
}
a:hover{
  color:#00448d!important;
}
.mat-card-subtitle{
  color:#5e6369!important;
  font-size: 14px!important;
}
.actions {
    position: absolute;
    bottom: 60%;
    right: 1%;
    padding: 5px 11px;
    text-align: center;
}
.icofont-ui-delete{
    color:#ec0000;
    margin: 8px;
  }
.like{
  color:grey;
}
.like-active{
  color:#25798E;
}
.card-2{
    margin-left: 50px;  
}
form{
    width: 100%!important;
}
.icofont-like:hover{
    cursor:pointer;
    color:#25798E;
}
.mat-card-avatar{
  margin-left: 10px;
}

