<h2  class="ml-3 color-f">Primeros pasos</h2> 
<div class="mt-3" style="display: flex; gap: 10px;">
  <div style="flex-grow: 1; height: auto;" *ngFor="let paso of pasos">
    <mat-card class="example-card card-interna">
      <mat-card-header>
        <mat-card-title>{{paso.titulo}}</mat-card-title>
      </mat-card-header>
      <img class="mx-auto d-block" [src]="paso.urlImagen">
      <mat-card-content>
        <p class="text-center">
          {{paso.descripcion}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<br>
