<div class="container-color pt-4">
    <div class="row">
        <div class="col-lg-6">
            <h2 class='color-f mt-2'>Modelos</h2>
        </div>
        <div class="col-lg-6 text-right">
            <button mat-button color='primary' (click)='subirArchivo()'>Subir Archivo</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-tab-group>
                <mat-tab label="Buscador">
                    <app-buscador-de-archivos></app-buscador-de-archivos>
                </mat-tab>
                <mat-tab label="Mis modelos">
                    <app-mis-modelos-alumno></app-mis-modelos-alumno>
                </mat-tab>

            </mat-tab-group>
        </div>
    </div>
</div>