<mat-card class=' card-container card pb-5 pt-5' style="width: 80%;">

  <p-table [value]="clases">
      <ng-template pTemplate="caption">
        <div>
          <h4 class="color-f">Mis clases</h4>
        </div>
    </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Materia</th>
          <th>Nivel acádemico</th>
          <th>Modo de clase</th>   
          <th>Método de clase</th>
          <th>Estado</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" *ngFor='let item of clases'>
        <tr>
            <td>{{item.nombre}}</td>
            <td>{{item.nivel.descripcion}}</td>
            <td>{{item.modo}}</td>
            <td>{{item.metodo}}</td>
            <td>{{item.estado}}</td>
            <td><a href="/detalle-clase-particular"><button pButton label="Ver más"></button></a></td>
            <td><a href="/editar-detalle-clase-particular"><button pButton label="Editar"></button></a></td>
            <td><button pButton  class="bg-secondary" label="Eliminar"></button></td>
        </tr>
    </ng-template>
    </p-table>
    <p style="visibility: hidden;">{{clases.length}}</p>
  </mat-card>
