<mat-card class=' card-container card pb-5 pt-5' style="width: 80%;">

    <p-table [value]="publicacion">
        <ng-template pTemplate="caption">
          <div>
            <h4 class="color-f">Mis clases</h4>
          </div>
      </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Materia</th>
            <th>Nivel academico</th>
            <th>Modo de clase</th>   
            <th>Tipo de clase</th>
            <th>Estado</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-clase>
          <tr>
              <td>{{clase.materia}}</td>
              <td>{{clase.nivel}}</td>
              <td>{{clase.modo}}</td>
              <td>{{clase.tipo}}</td>
              <td>{{clase.estado}}</td>
              <td><a href="/detalle-clase-particular"><button pButton label="Ver más"></button></a></td>
              <td><a href="/editar-detalle-clase-particular"><button pButton label="Editar"></button></a></td>
              <td><button pButton  class="bg-secondary" label="Eliminar"></button></td>
          </tr>
      </ng-template>
      </p-table>
    </mat-card>

