  <div class="card mt-3 mb-3" style="width: 90%;margin: auto;">

    <p-table [value]="clases">
        <ng-template pTemplate="caption">
          <div>
            <h4 class="color-f">Mis publicaciones</h4>
          </div>
      </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Nombre de la clase</th>
            <th>Fecha de clase</th>
            <th>Cantidad de alumnos</th>
            <th>Estado</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-clase>
          <tr>
              <td>{{clase.nombre}}</td>
              <td>{{clase.fecha | date}}</td>
              <td>{{clase.cantidadDeAlumnos}}</td>
              <td>{{clase.estado}}</td>
              <td><button pButton label="Ver más"></button></td>
              <td><button pButton label="Editar"></button></td>
              <td><button pButton  class="bg-secondary" label="Eliminar"></button></td>
          </tr>
      </ng-template>
      </p-table>
    </div>

