<div class='container-login container container-color'>
    <form [formGroup]="formDatos" class="ui large error form" (ngSubmit)="editarAlumno()">
      <div class="row blanco2 p-2">
        <div class="col-3 mt-3">
            <div *ngIf="fotoDePerfilCargada(); else sinFoto">
                <img [src]="imagenPerfil" class="mx-auto d-block img-thumbnail" style="max-height: 200px; max-width: 200px;">
            </div>
            <ng-template #sinFoto>
                <img mat-card-avatar class="redondeo"  src="../../../../../assets/img/IMG-20211012-WA0030.jpg"  width="220" height="200" />
            </ng-template>
  
            <mat-form-field class='center ml-3'>
                <ngx-mat-file-input
                    formControlName="fotoPerfil"
                    multiple=false
                    accept=".png, .jpg, .jpeg"
                    color="warn" placeholder="Foto de perfil">
                    <mat-icon ngxMatFileInputIcon>add_a_photo</mat-icon>
                </ngx-mat-file-input>
            </mat-form-field>
        </div>
        <div class="col-9">
          <div class="row">
            <div class="col-12">
            <h3 class='title color-f'>Datos personales</h3>
            </div>
            <div class="col-6">
                <mat-form-field class='input-large' appearance="outline">
                    <mat-label class="color-f">Sergio</mat-label>
                    <input matInput formControlName="nombre" placeholder="" type="text" value="Jose">
                </mat-form-field>
                <div *ngIf="formDatos.get('nombre').hasError('required') && formDatos.get('nombre').touched"
                    class="text-center error-msg">
                    <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                </div><br>
            </div>
  
            <div class="col-6">
                <mat-form-field class='input-large' appearance="outline">
                    <mat-label class="color-f">Bonavento</mat-label>
                    <input matInput formControlName="apellido" placeholder="" type="text" >
                </mat-form-field>
                <div *ngIf="formDatos.get('apellido').hasError('required') && formDatos.get('apellido').touched"
                    class="text-center error-msg">
                    <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                </div><br>
            </div>
  
            <div class="col-12">
              <mat-form-field  color="accent" appearance="outline" class='input-large'>
                        <mat-label class="color-f">10/02/1989</mat-label>
                            <input matInput [matDatepicker]="picker1" formControlName="fechaNacimiento" >
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                    <div *ngIf="formDatos.get('fechaNacimiento').hasError('required') && formDatos.get('fechaNacimiento').touched"
                        class="text-center error-msg">
                        <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                    </div><br>
          </div>
          <div class="col-12">
                <mat-form-field class='input-large' appearance="outline">
                    <mat-label class="color-f">Localidad</mat-label>
                    <input matInput formControlName="localidad" placeholder="" type="text" >
                </mat-form-field>
                <div *ngIf="formDatos.get('localidad').hasError('required') && formDatos.get('localidad').touched"
                    class="text-center error-msg">
                    <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                </div><br>    
          </div>
          <div class="container">
          <h3 class="color-f">Datos académicos</h3>
          <mat-form-field class='input-large' appearance="outline">
              <mat-label class="color-f">Años de experiencia</mat-label>
              <input matInput formControlName="experiencia" placeholder="" type="text">
          </mat-form-field>
          <div *ngIf="formDatos.get('experiencia').hasError('required') && formDatos.get('experiencia').touched"
              class="text-center error-msg">
              <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
          </div><br>
  
          <mat-form-field class='input-large' appearance="outline">
              <mat-label class="color-f">Estudios</mat-label>
              <textarea matInput formControlName="estudios" placeholder="" type="text"></textarea>
          </mat-form-field>
          <div *ngIf="formDatos.get('estudios').hasError('required') && formDatos.get('estudios').touched"
              class="text-center error-msg">
              <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
          </div><br>

          <mat-form-field class='input-large' appearance="outline">
            <mat-label class="color-f">Descripción</mat-label>
            <textarea matInput formControlName="descripcion" placeholder="" type="text">Me llamo Sergio, soy ingeniero en informática, programador freelance. 
                La programación es parte de mi vida casi en todo momento , siempre estoy realizando tanto sea trabajos, clases o estudiando programación por interés propio.
                Me encanta enseñar, se me da fácil explicarme, ejemplificar y a la vez motivar a mi alumno para que siempre vaya por más.
                Te aseguro que si haces una clase conmigo podrás divertirte y aprender, que es la manera que siempre se aprende mas rápido, disfrutando lo que se hace.
            </textarea>
        </mat-form-field>
        <div *ngIf="formDatos.get('descripcion').hasError('required') && formDatos.get('descripcion').touched"
            class="text-center error-msg">
            <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
        </div><br>
        </div>
    </div>

    <div>
        <button type="submit" mat-raised-button color="primary">Editar</button>
    </div>
        </div>
    </div>
    </form>
  </div>
  