<div class="container-color pt-5">
<h2 class="color-f">Ganancias</h2>
<div class="container mt-5  p-5 blanco2">
<h3>Anual
</h3>
<img src="https://docs.tibco.com/pub/spotfire_web_player/6.0.0-november-2013/es-ES/WebHelp/GUID-418B2936-C878-4771-B874-FA8ECAA39941-display.png" alt="">
</div>

<div class="container mt-5 p-5 blanco2">
<h3>Mensual - mes actual</h3>
<img src="https://docs.tibco.com/pub/spotfire_web_player/6.0.0-november-2013/es-ES/WebHelp/GUID-418B2936-C878-4771-B874-FA8ECAA39941-display.png" alt="">
</div>

<br>
<br>
</div>

