.mat-card{
    margin: 10px;
    padding: 16px 0px 16px 0px!important;
}

.mat-card-avatar{
    height: 200px !important;
    width: 210px !important;
    margin:auto;
}

.redondeo{
    border-radius: 100px!important;
}