.mat-card{
    margin: 10px;
    padding: 16px 0px 16px 0px!important;
}

.mat-card-avatar{
    height: 200px !important;
    width: 210px !important;
    margin:auto;
}

.redondeo{
    border-radius: 100px!important;
}

.contenedor {
    margin-top: 10px;
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */
  
    max-width: 960px; /* 2 */
  
    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */
}