.categoria{
    background-color: #27ae60;
    position: absolute;
    bottom: 70%;
    left: 1%;
    font-size: 12px;
    padding: 2px 5px;
    text-align: center;
    color: #fff;
    margin: 0 0 15px 15px;
}
