<div class='container'>
    <div class="row">
        <div class="col-lg-12 text-center">
            <img mat-card-avatar [src]="'./assets/img/'+registro.foto" alt="foto ">
        </div>
     
        <div class="col-lg-4 text-center">
            <p class='fs-16'><i class="icofont-google-map rojo fs-21"></i>{{registro.ubicacion}}</p>
            <p class='fs-16'>
                {{registro.descripcion}}
            </p>
        </div>
        <div class="col-lg-4 text-center">
            <p class='fs-16'>
                {{registro.particular}}
            </p>
            <p class='fs-16'>
                {{registro.academico}}
            </p>
            <p class='fs-16'>
               Da clases de : {{registro.materia}}
            </p>

            <p class='fs-16'>
                Niveles: {{registro.nivel}}
             </p>

             <p class='fs-16'>
                Metodo: {{registro.type}}
             </p>
             <p class='fs-16'>
                Precio por hora: $ {{registro.precio_por_hora}} 
             </p>
        </div>
        <div class="col-lg-4 text-center">
            <i class="icofont-star" [ngClass]='(registro.stars >= 1)?"amarillo":""'></i>
            <i class="icofont-star" [ngClass]='(registro.stars >= 2)?"amarillo":""'></i>
            <i class="icofont-star" [ngClass]='(registro.stars >= 3)?"amarillo":""'></i>
            <i class="icofont-star" [ngClass]='(registro.stars >= 4)?"amarillo":""'></i>
            <i class="icofont-star" [ngClass]='(registro.stars >= 5)?"amarillo":""'></i>
            <span class='subtitle'>
                {{registro.stars}}/ 5
            </span>
        </div>
        <div class='col-lg-12'>
            {{registro.descripcion}}
        </div>
        <div class='col-lg-12'>
             <app-calendar></app-calendar>
        </div>
    </div>
</div>