<div class="naranjaClaro p-5 container">
<div class='container'>
    <section class="container mt-2" style="display: flex; justify-content: space-between;">
        <div class="col-sm-12 col-md-3">
            <img src="../../../../../assets/img/default-user.png"  width="220" height="200" />
            <p class='fs-16 mt-3'><i class="icofont-google-map rojo fs-21 mr-2"></i>{{registro.ubicacion}}</p>
        </div>
        <div class="col-sm azul naranjaClaro grisLetra">
            <h3 class="azulLetra">{{registro.particular}}</h3>
            <h4>Clases de: {{registro.materia}} </h4>
            <hr/>
            <h4>Niveles: {{registro.nivel}}</h4>
            <h4>Metodo: {{registro.type}} </h4>
        </div>
        <div class="col-lg-4 text-right">
            <i class="icofont-star" [ngClass]='(registro.stars >= 1)?"amarillo":""'></i>
            <i class="icofont-star" [ngClass]='(registro.stars >= 2)?"amarillo":""'></i>
            <i class="icofont-star" [ngClass]='(registro.stars >= 3)?"amarillo":""'></i>
            <i class="icofont-star" [ngClass]='(registro.stars >= 4)?"amarillo":""'></i>
            <i class="icofont-star" [ngClass]='(registro.stars >= 5)?"amarillo":""'></i>
            <span class='subtitle'>
                {{registro.stars}} / 5
            </span>
        </div>
    </section> 
</div>

<div class="container">
        <div class="text-right">
             <h4>
                Precio por hora: $ {{registro.precio_por_hora}} 
             </h4>
        </div>
        <div class='col-lg-12 text-center mt-4'>
            {{registro.descripcion}}
        </div>
        <div class='col-lg-12 text-center mt-4'>
            <p>*Calendario*</p>
          <!--   <app-calendar></app-calendar> -->
        </div>
</div>

<div class="container mt-4">
    <h3>Opiniones de {{registro.particular}}</h3>
    
    <mat-card>
        <mat-card-title class="ml-4">
            <div style="display: flex; justify-content: space-between;">
                <div>
                    <p> Juan Carlos</p>
                </div>
                <div class="mr-4">
                    <i class="icofont-star" [ngClass]='(registro.stars >= 1)?"amarillo":""'></i>
                    <i class="icofont-star" [ngClass]='(registro.stars >= 2)?"amarillo":""'></i>
                    <i class="icofont-star" [ngClass]='(registro.stars >= 3)?"amarillo":""'></i>
                    <i class="icofont-star" [ngClass]='(registro.stars >= 4)?"amarillo":""'></i>
                    <i class="icofont-star" [ngClass]='(registro.stars >= 5)?"amarillo":""'></i>
                    <span class='subtitle'>
                         {{registro.stars}} / 5
                     </span>
                </div>
            </div>
        </mat-card-title>
        <hr/>
        <mat-card-content class="ml-4">Romina es genial, muy paciente y sus clases entretenidas y didácticas.</mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title class="ml-4">
            <div style="display: flex; justify-content: space-between;">
                <div>
                    <p> Lucía</p>
                </div>
                <div class="mr-4">
                    <i class="icofont-star" [ngClass]='(registro.stars >= 1)?"amarillo":""'></i>
                    <i class="icofont-star" [ngClass]='(registro.stars >= 2)?"amarillo":""'></i>
                    <i class="icofont-star" [ngClass]='(registro.stars >= 3)?"amarillo":""'></i>
                    <i class="icofont-star" [ngClass]='(registro.stars >= 4)?"amarillo":""'></i>
                    <i class="icofont-star" [ngClass]='(registro.stars >= 5)?"amarillo":""'></i>
                    <span class='subtitle'>
                         {{registro.stars}} / 5
                     </span>
                </div>
            </div>
        </mat-card-title>
        <hr/>
        <mat-card-content class="ml-4">Comprometida, puntual, amable.</mat-card-content>
    </mat-card>

</div>






</div>

