.example-chip-list {
    width: 100%;
}

.cancel {
    border-style: hidden;
    padding: 0px;
}

.icofont-search-2 {
    color: black !important;
    font-size: 25px;
}

.icofont-search-2:hover {
    cursor: pointer;
}