/* Modal */
.modal-header {
    padding: 0;
    border: none;
}
.modal-header .close {
    margin: 2px 6px 0px auto;
    padding: 0;
    color: #1e3e6f;
    opacity: 1;
}
.mat-dialog-content{
    width: 70vw!important;
}
label{
    margin:0px 4px;
}
