<div mat-dialog-content>
    <div class="">
        <div class="modal-header">
            <div type="button" class="close" mat-dialog-close aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </div>
        </div>
        <div class="modal-body text-center">
            <mat-checkbox class="example-margin" [(ngModel)]="soloResolucion">Solo resolver y mandar
                respuesta
            </mat-checkbox>
            <br>
            <form *ngIf='soloResolucion' [formGroup]="formTipo1" class="ui large error form">
                <mat-form-field class='input-medium' appearance="outline">
                    <mat-label>Costo </mat-label>
                    <input matInput type='number' formControlName="costoUno">
                </mat-form-field>
                <br>
                <mat-form-field class='input-medium' appearance="outline">
                    <mat-label>Demora </mat-label>
                    <mat-select matInput formControlName="demora">
                        <mat-option *ngFor="let tipo of tipos" [value]="tipo.id">
                            {{tipo.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
            </form>

            <br>
            <mat-checkbox class="example-margin" [(ngModel)]="masExplicacion">Resolucion y explicacion
            </mat-checkbox>
            <form *ngIf='masExplicacion' [formGroup]="formTipo2" class="ui large error form">
                <mat-form-field class='input-medium' appearance="outline">
                    <mat-label>Costo </mat-label>
                    <input matInput type='number' formControlName="costoDos">
                </mat-form-field>
            </form>
            <div>
                <button mat-button class='azul' (click)='confirmar()'>Confirmar</button>
            </div>

        </div>
    </div>
</div>