<div class="container pb-5 pt-5" style="min-height: 45vh;width: 80%;">
    <div class="row">
        <div class="col-lg-12  text-center">
                <form [formGroup]="formularioDePostulacion" class="ui large error form">
                    <div class="field p-float-label max-w-full">
                        <p-dropdown
                            id="tipoDeResolucion"
                            [options]="tiposResolucion"
                            [autoDisplayFirst]="false"
                            formControlName="tipoDeResolucion"
                            class='w-100'
                            optionLabel="descripcion"
                            optionValue="id">
                        </p-dropdown>
                        <label for="tipoResolucion">Tipo de resolución</label>
                    </div>
                    <div *ngIf="formularioDePostulacion.get('tipoDeResolucion').value == 2" >
                             <app-calendar-completar-horarios (addDisponibilidad)="addDisponibilidad($event)"></app-calendar-completar-horarios>
                    </div>
                    <div class="field p-float-label max-w-full">
                        <p-dropdown
                            id="tipos"
                            [options]="tiposDeDemoras"
                            [autoDisplayFirst]="false"
                            formControlName="tipoDeDemora"
                            class='w-100'
                            optionLabel="descripcion"
                            optionValue="id">
                        </p-dropdown>
                        <label for="tipos">Demora</label>
                    </div>
                    <div class="field p-float-label max-w-full">
                        <span class="p-float-label w-80  mt-4">
                            <input id="costo" type="text" class='w-100' pInputText formControlName="costo">
                            <label for="costo">Costo</label>
                        </span>
                    </div>
                </form>
                <button pButton class='mt-2' (click)='confirmar()'>Confirmar</button>
        </div>
    </div>
</div>
