<div mat-dialog-content>
    <div class="">
        <div class="modal-header">
            <div type="button" class="close" mat-dialog-close aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </div>
        </div>
        <div class="modal-body text-center">

            <div class="p-field-checkbox">
                <p-checkbox [(ngModel)]="soloResolucion" binary="true" inputId="binary"></p-checkbox>
                <label for="binary">Solo resolver y mandar
                    respuesta</label>
            </div>
            <div>
                <span class="p-float-label w-80  mt-4">
                    <input id="float-input"  class='w-100' type="text" pInputText> 
                    <label for="float-input">Costo</label>
                </span>

                <span class="p-float-label w-80  mt-4">
                    <input id="float-input"  class='w-100' type="text" pInputText> 
                    <label for="float-input">Demora en días</label>
                </span>
            </div>

            <br>
            <div class="p-field-checkbox">
                <p-checkbox [(ngModel)]="masExplicacion" binary="true" inputId="binary"></p-checkbox>
                <label for="binary">Resolución y explicación</label>
            </div>

            <div >
                <span class="p-float-label w-80  mt-4">
                    <input id="float-input"  class='w-100' type="text" pInputText> 
                    <label for="float-input">Costo</label>
                </span>
            </div>
            <div>
                <button mat-button color='warn' class='mt-5' (click)='confirmar()'>Confirmar</button>
            </div>

        </div>
    </div>
</div>