<mat-card class='mt-3 card-interna'>
	<h3 class='color-f'>Fechas Disponibles</h3>
	<div class="p-field p-col-6 p-md-4 text-center">

		<div class=' mt-3 text-center'>
			<div class='date-results'  *ngFor='let date of fechasDisponibles;index as i'>
				<span>{{ date |date:'d/M/yy, h:mm a'}}</span>
			</div>
			<div *ngIf='fechasDisponibles.length ==0'>
				No hay fechas disponibles
			</div>
		</div>
	</div>

	
</mat-card>


<mat-card class='mt-3 card-interna'>
	<h3 class='color-f'>Fechas ocupadas</h3>
	<div class="p-field p-col-6 p-md-4 text-center">

		<div class=' mt-3 text-center'>
			<div class='date-results'  *ngFor='let date of fechasNoDisponibles;index as i'>
				<span>{{ date |date:'d/M/yy, h:mm a'}}</span>
			</div>
			<div *ngIf='fechasNoDisponibles.length ==0'>
				No hay fechas ocupadas
			</div>
		</div>
	</div>

	
</mat-card>