<div class="row">
    <div class="col-lg-7">
        <p-calendar [(ngModel)]="value" [inline]="true" [showWeek]="true"></p-calendar>
    </div>
    <div class="col-lg-5 text-center">
        <p-fieldset legend="Horarios" [toggleable]="true">
			<h5>{{value| date}}</h5>
			<p-listbox [options]="horarios" [group]="true" [(ngModel)]="selected" [metaKeySelection]="false"
				[checkbox]="true" [filter]="true" [multiple]="true" [listStyle]="{'max-height':'210px'}">
				<ng-template let-group pTemplate="group">
					<div class="p-d-flex p-ai-center">
						<span></span>
					</div>
				</ng-template>
			</p-listbox>
			<button pButton class='mt-2' type="button" (click)='agregar()' label="Agregar" ></button>

		</p-fieldset>
    </div>
</div>