.card {
    width: 100%;
    height: 5em;
    margin: .5em;
    display: inline-flex;
    color: white;
    border-radius: 0px;
    text-align: center;
    justify-content: center;
    align-content: center;
}
.grid-item p{
    bottom:35px;
}
.carousel-item{
    max-height: 18em;
}
.carousel-item img{
    object-fit: fill;
    max-height: 18em;
}
.card p {
    font-size: 1em;
    margin: auto;
    color: white !important;
}