<div class="container container-color pb-5 pt-5" style="min-height: 45vh;">
    <mat-card style='margin: auto;width: 90%;'>
        <div class="row" *ngIf='eliminados'>
            <div class="col-lg-4">
                <mat-list >
                    <mat-list-item [ngClass]='(mensaje.leido)? "leido":"no-leido "'
                        *ngFor="let mensaje of eliminados">
                        <div class='fs-18' mat-line>{{mensaje.emisor.nombre}}, {{mensaje.emisor.apellido}}</div>
                        <div   mat-line>{{mensaje.asunto}}</div>
                        <div  mat-line> {{mensaje.fecha |date:'d/M/yy, h:mm a'}} </div>
                        <button  (click)='seleccion(mensaje)' class='m-2' pButton label="Ver"></button>
                        <button (click)='add(mensaje)' class='m-2' pButton label="Restaurar"></button>
                    </mat-list-item>

                </mat-list>
            </div>
            <div class='col-lg-8' *ngIf='mensaje'>
                <app-mensaje-detalle [responder]='responder' [mensaje]='mensaje'></app-mensaje-detalle>
            </div>
            <div class='col-lg-8 seleccion-mensaje mt-2' *ngIf='!mensaje && eliminados.length>0'>
                Seleccione un mensaje para ver más detalles
          </div>

          <div class='col-lg-8 seleccion-mensaje mt-2' *ngIf='eliminados.length==0'>
              No hay mensajes en la papelera
        </div>
        </div>
        <div class="row text-center" *ngIf='!eliminados'>
            <div class='seleccion-mensaje col-12 text-center'>
                Aún no hay mensajes eliminados</div>
        </div>
    </mat-card>

</div>