<div class="container container-color pb-5 pt-5" style="min-height: 45vh;">
    <mat-card style='margin: auto;width: 90%;'>
        <div class="row" *ngIf='eliminados'>
            <div class="col-lg-4">
                <mat-list>
                    <mat-list-item (click)='seleccion(mensaje)' [ngClass]='(mensaje.leido)? "leido":"no-leido "'
                        *ngFor="let mensaje of eliminados">
                        <div class='fs-18' mat-line>{{mensaje.emisor}}</div>
                        <div mat-line>{{mensaje.asunto}}</div>
                        <div mat-line> {{mensaje.fecha | date}} </div>
                        <i class="pi pi-arrow-circle-left fs-21
                    icon" (click)='add(mensaje)'></i>
                    </mat-list-item>

                </mat-list>
            </div>
            <div class='col-lg-8' *ngIf='mensaje'>
                <app-mensaje-detalle [responder]='responder' [mensaje]='mensaje'></app-mensaje-detalle>
            </div>

            <div class='col-lg-8 seleccion-mensaje mt-2' *ngIf='!mensaje'>
                Seleccione un mensaje para ver mas detalles
            </div>
        </div>
        <div class="row text-center" *ngIf='!eliminados'>
            <div class='seleccion-mensaje col-12 text-center'>
                Aun no hay mensajes eliminados</div>
        </div>
    </mat-card>

</div>