<div mat-dialog-content>
    <div class="">
        <div class="modal-header">
            <div type="button" class="close" mat-dialog-close aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </div>
        </div>
        <div class="modal-body text-center">

            <h3 class='color-f'>Valoracion </h3>
            <p class="clasificacion">
                <mat-checkbox id="radio1" class="example-margin"></mat-checkbox>
                <label for="radio1"><i class="icofont-star fs-40"></i></label>
                <mat-checkbox id="radio2" class="example-margin "></mat-checkbox>
                <label for="radio2"><i class="icofont-star fs-40"></i></label>
                <mat-checkbox id="radio3" class="example-margin"></mat-checkbox>
                <label for="radio3"><i class="icofont-star fs-40"></i></label>
                <mat-checkbox id="radio4" class="example-margin"></mat-checkbox>
                <label for="radio4"><i class="icofont-star fs-40"></i></label>
                <mat-checkbox id="radio5" class="example-margin"></mat-checkbox>
                <label for="radio5"><i class="icofont-star fs-40"></i></label>
            </p>



        </div>
    </div>
</div>