<mat-card class='mt-3 card-interna'>
	<h3 class='color-f'>Asignar disponibilidad</h3>
	<div class="p-field p-col-12 p-md-4 text-center">
		<p-calendar [(ngModel)]="dates" class='w-100' selectionMode="multiple" inputId="multiple"></p-calendar>
	</div>
	<div class="p-field p-col-12 p-md-4 text-center">
		<p-selectButton [options]="horarios" [(ngModel)]="selected" multiple="multiple" optionLabel="name"
			optionValue="value"></p-selectButton>
	</div>

	<button pButton class='mt-2 mr-2' type="button" (click)='agregar()' label="Agregar fecha"></button>

</mat-card>

<mat-card class='mt-3 card-interna'>
	<h3 class='color-f'>Fechas cargadas</h3>
	<div class="p-field p-col-6 p-md-4 text-center">

		<div class=' mt-3 text-center'>
			<div class='date-results' [id]='i' (click)='verHorarios(date,i)' *ngFor='let date of dates;index as i'>
				{{ date |date}}
			</div>
			<div *ngIf='dates.length ==0'>
				No hay disponibilidad
			</div>
		</div>
	</div>
	<div class="p-field p-col-6 p-md-4 text-center">
		<h4 class='color-f'>{{value| date}}- Horarios</h4>
		<p-selectButton [options]="horarios" [(ngModel)]="horariosAsignados" multiple="multiple" optionLabel="name"
			optionValue="value"></p-selectButton>
	</div>
	<button pButton class='mt-2 mr-2' type="button" (click)='eliminar()' label="Eliminar"></button>
</mat-card>