<div class='container-login container'>
  <form [formGroup]="formDatos" class="ui large error form" (ngSubmit)="editarAlumno()">
    <div class="row mt-5 blanco2 p-2">
      <div class="col-3 mt-3">
          <div *ngIf="fotoDePerfilCargada(); else sinFoto">
              <img [src]="imagenPerfil" class="mx-auto d-block img-thumbnail" style="max-height: 200px; max-width: 200px;">
          </div>
          <ng-template #sinFoto>
              <img mat-card-avatar class="redondeo"  src="../../../../../assets/img/default-user.png"  width="220" height="200" />
          </ng-template>

          <mat-form-field  appearance="outline">
            <ngx-mat-file-input
                formControlName="fotoPerfil"
                multiple=false
                accept=".png, .jpg, .jpeg"
                color="accent" placeholder="Foto de perfil">
                <mat-icon ngxMatFileInputIcon>add_a_photo</mat-icon>
            </ngx-mat-file-input>
        </mat-form-field>
      </div>
      <div class="col-9">
        <div class="row">
          <div class="col-12">
          <h3 class='title color-a'>Datos personales</h3>
          </div>
          <div class="col-6">
              <mat-form-field class='input-large' appearance="outline">
                  <mat-label>Nombre</mat-label>
                  <input matInput formControlName="nombre" placeholder="" type="text" value="Jose">
              </mat-form-field>
              <div *ngIf="formDatos.get('nombre').hasError('required') && formDatos.get('nombre').touched"
                  class="text-center error-msg">
                  <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
              </div><br>
          </div>

          <div class="col-6">
              <mat-form-field class='input-large' appearance="outline">
                  <mat-label>Apellido</mat-label>
                  <input matInput formControlName="apellido" placeholder="" type="text" >
              </mat-form-field>
              <div *ngIf="formDatos.get('apellido').hasError('required') && formDatos.get('apellido').touched"
                  class="text-center error-msg">
                  <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
              </div><br>
          </div>

          <div class="col-12">
            <mat-form-field class='input-large' appearance="outline">
                      <mat-label>Fecha de nacimiento</mat-label>
                      <mat-form-field color="accent" appearance="fill">
                          <input matInput [matDatepicker]="picker1" formControlName="fechaNacimiento">
                          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                          <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>
                  </mat-form-field>
                  <div *ngIf="formDatos.get('fechaNacimiento').hasError('required') && formDatos.get('fechaNacimiento').touched"
                      class="text-center error-msg">
                      <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                  </div><br>
        </div>
        <div class="col-12">
              <mat-form-field class='input-large' appearance="outline">
                <mat-label>Intereses</mat-label>
                <textarea matInput formControlName="intereses" placeholder="" type=""></textarea>
              </mat-form-field>                
              <div *ngIf="formDatos.get('intereses').hasError('required') && formDatos.get('intereses').touched"
                  class="text-center error-msg">
                  <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
              </div><br>
        </div>

        <h3 class='title color-a'>Datos académicos</h3>
        <mat-form-field class='input-large' appearance="outline">
            <mat-label>Institución</mat-label>
            <input matInput formControlName="institucuion" placeholder="" type="text">
        </mat-form-field>
        <div *ngIf="formDatos.get('institucuion').hasError('required') && formDatos.get('institucuion').touched"
            class="text-center error-msg">
            <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
        </div><br>

        <mat-form-field class='input-large' appearance="outline">
            <mat-label>Nivel académico</mat-label>
            <input matInput formControlName="nivelAcademico" placeholder="" type="text">
        </mat-form-field>
        <div *ngIf="formDatos.get('nivelAcademico').hasError('required') && formDatos.get('nivelAcademico').touched"
            class="text-center error-msg">
            <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
        </div><br>
        <mat-card-actions>
            <button type="submit" mat-raised-button color="warn">Editar</button>
        </mat-card-actions>
      </div>

         
      </div>
  </div>
  </form>
</div>
