<div class="p-5 container">
    <div class="container mt-2 blanco2">
            <div class="row">
              <div class="col-sm-12 col-md-3 mt-3">
                <div class="col-sm-12 col-md-3">
                  <img mat-card-avatar src="../../../../../assets/img/default-user.png" />
                </div>
            </div>
              <div class="col-sm grisLetra">
                <input matInput formControlName="Apellido" placeholder="" type="text">
                <h4>Edad: </h4>
                <h4>Intereses: </h4>
                <hr/>
                <h4>Institución:</h4>
                <h4>Nivel académicos:</h4>
              </div>
            </div>
    </div> 
    
    
 </div>   