<div class="detalles-mensajes mt-2 mb-4">
    <p class='color-f'>De: <span class='color-d'>{{mensaje.emisor.nombre}}, {{mensaje.emisor.apellido}}</span></p>
    <p class='color-f'>Para: <span class='color-d'> {{mensaje.destinatario.nombre}} , {{mensaje.destinatario.apellido}} </span></p>
    <p class='color-f'>Asunto: <span class='color-d'>{{mensaje.asunto}}</span></p>
    <p class='color-f'>Contenido: <span class='color-d' id='contenido'></span></p>
</div>
<button mat-button color='warn' class='m-2' *ngIf='responder' (click)='respuesta()'  > Responder</button>
<button mat-button color='warn'  class='m-2' (click)='verRespuestas()'  > Ver todas las respuestas</button>



