mat-card{
    margin-top: 5%;
}

.detalles-mensajes{
    display: flex;
   flex-direction: column;
}

.detalles-mensajes p{
    margin-bottom: 8px;
}

.btn-mensaje{
    background-color:red;
    margin-top: 2%;
    margin-bottom: 2%; 
}

.btn-text{
    color: white;
}