<p class='color-f ml-3'><span class='color-d fs-25'>{{asunto }}</span></p>

<div *ngFor='let m of respuestas'>
    <div class='card-interna p-3'>
        <div class='detalles-mensajes-2 pointer' (click)='verContenido(m)'>
            <p class='color-f '> <span class='color-d fs-21'> {{m.emisor }}   </span> - <span>  {{ m.fecha | date}}</span></p>
            <p class='color-f'>Para: <span class='color-d'> {{m.destinatario }} </span></p>
            <div  [ngClass]='(m.id== mensaje.id)? "" : "hidden"' class=' color-f' [id]="m.id">
               <div>
                   {{insertarHtml(m)}}
               </div>
            </div>
            <button mat-button [id]="'b-'+m.id" color='warn' [ngClass]='(m.id== mensaje.id)? "" : "hidden"' class='m-2 '  (click)='respuesta(m)'> Responder</button>
        </div>
    </div>

</div>