.amarillo{
    color: #fff424!important;
}

.stars {
    position: absolute;
    top: 4%;
    right: 1%;
    padding: 5px 11px;
    text-align: center;
}

.pi{
    cursor: pointer;
}
.arrows{
    justify-content: center;
    text-align: center;
    color:#e47474 !important
}