<div class="fondo-rosa">
    <div class="contenedor">
        <form [formGroup]="formDatos" class="ui large error form" >
            <div class="grid">
                <div class="col-12">
                    <p-card>
              
                        <div class="fluid grid">
                            <div class="col-12">
                                <h3>Datos personales</h3>
                            </div>
                            <div class="field col-12">
                                <span class="p-float-label">
                                    <input id="nombre" type="text" pInputText formControlName="nombre" class="inputfield w-full">
                                    <label for="nombre">Nombre</label>
                                </span>
                                <div *ngIf="formDatos.get('nombre').hasError('required') && formDatos.get('nombre').touched" class="text-center">
                                    <small class="p-error">Este campo es <strong>requerido</strong></small>
                                </div>
                            </div>
                            <div class="field col-12">
                                <span class="p-float-label">
                                    <input id="apellido" type="text" pInputText formControlName="apellido" class="inputfield w-full">
                                    <label for="apellido">Apellido</label>
                                </span>
                                <div *ngIf="formDatos.get('apellido').hasError('required') && formDatos.get('apellido').touched" class="text-center">
                                    <small class="p-error">Este campo es <strong>requerido</strong></small>
                                </div>
                            </div>
                            <div class="field col-12">
                                <span class="p-float-label">
                                    <input id="telefono" type="text" pInputText formControlName="telefono" class="inputfield w-full">
                                    <label for="telefono">Telefono</label>
                                </span>
                                <div *ngIf="formDatos.get('telefono').hasError('required') && formDatos.get('telefono').touched" class="text-center">
                                    <small class="p-error">Este campo es <strong>requerido</strong></small>
                                </div>
                                <div class="text-danger"
                                *ngIf="formDatos.get('telefono').hasError('pattern')  && formDatos.get('telefono')?.touched">
                                <span>El formato no es correcto, ingrese solo números</span>
                                </div>
                            </div>
                            <div class="field col-12">
                                <span class="p-float-label">
                                    <input id="email" type="email" pInputText formControlName="email" class="inputfield w-full">
                                    <label for="email">Email</label>
                                </span>
                                <div *ngIf="formDatos.get('email').hasError('required') && formDatos.get('email').touched" class="text-center">
                                    <small class="p-error">Este campo es <strong>requerido</strong></small>
                                </div>
                                <div *ngIf="formDatos.get('email').hasError('email') && formDatos.get('email').touched"
                                    class="text-center">
                                    <small class="p-error">El formato no es correcto</small>
                                </div>
                            </div>
                            <div class="field col-12">
                                <span class="p-float-label">
                                    <input id="contrasenia" type="password" pInputText formControlName="contrasenia" class="inputfield w-full">
                                    <label for="contrasenia">Contraseña</label>
                                </span>
                                <div *ngIf="formDatos.get('contrasenia').hasError('required') && formDatos.get('contrasenia').touched" class="text-center">
                                    <small class="p-error">Este campo es <strong>requerido</strong></small>
                                </div>
                                <div class="text-danger"
                                 *ngIf="formDatos.get('contrasenia').hasError('pattern')  && formDatos.get('contrasenia')?.touched">
                                <span>La contraseña debe tener 8 caracteres, una mayuscula, una minuscula, un numero y un caracter especial.</span>
                                </div>
                            </div>
                            <div class="field col-12">
                                <span class="p-float-label">
                                    <p-calendar    showButtonBar="true"  inputId="fechaNacimiento" formControlName="fechaNacimiento" dateFormat="dd-mm-yy" 
                                    [showIcon]="true" styleClass="w-full" 
                                    [monthNavigator]="true" [yearNavigator]="true" [yearRange]="obtenerRangoDeEdad()"></p-calendar>
                                    <label for="fechaNacimiento">Fecha de nacimiento</label>
                                </span>
                                <div *ngIf="formDatos.get('fechaNacimiento').hasError('required') && formDatos.get('fechaNacimiento').touched" class="text-center">
                                    <small class="p-error">Este campo es <strong>requerido</strong></small>
                                </div>
                            </div>
                            <div class="field col-12">
                                <span class="p-float-label">
                                    <input id="documento" type="text" pInputText formControlName="documento" class="inputfield w-full">
                                    <label for="documento">Documento</label>
                                </span>
                                <div class="text-danger"
                                *ngIf="formDatos.get('documento').hasError('pattern')  && formDatos.get('documento')?.touched">
                                <span>El formato no es correcto, ingrese solo números</span>
                                </div>
                            </div>
                            <div class="col-12">
                                <h3>Descripción</h3>
                            </div>
                            <div class="field col-12">
                                <span class="p-float-label">
                                    <textarea id="formacionAcademica" pInputTextarea formControlName="formacionAcademica" class="inputfield w-full"></textarea>
                                    <label for="formacionAcademica">Formación académica</label>
                                </span>
                            </div>
                            <div class="col-12">
                                <h3>Foto de perfil</h3>
                            </div>
                            <div class="col-12">
                                <p-fileUpload class='mt-4' name="demo[]" customUpload="true"
                                        (onSelect)="seleccionarFotoPerfil($event)"
                                        (onClear)="cancelarSeleccionDeFotoPerfil()"
                                        (onRemove)="borrarFotoPerfil($event)"
                            accept="image/*" chooseLabel="Elegir" [showUploadButton]=false>
                                </p-fileUpload>  
                            </div>
                            <div class="field col-12">
                                <span class="p-float-label">
                                    <button pButton (click)="registrarParticular()">Registrar</button>
                                </span>
                            </div>
                        </div>
                    </p-card>
                </div>
            </div>
        </form>
    </div>
</div>
