
<div class="container container-color pt-5 pb-5">
    <mat-card style="margin: auto;width: 90%;">
        <div class="row" *ngIf='recibidos'>
            <div class="col-lg-4" >
                <mat-list>
                    <mat-list-item  [ngClass]='(mensaje.leido)? "leido":"no-leido "' *ngFor="let mensaje of recibidos">
                        <div class='fs-18' mat-line>{{mensaje.emisor.nombre}}, {{mensaje.emisor.apellido}}</div>
                        <div   mat-line>{{mensaje.asunto}}</div>
                        <div  mat-line> {{mensaje.fecha |date:'d/M/yy, h:mm a'}} </div>
                        <button  (click)='seleccion(mensaje)' class='m-2' pButton label="Ver"></button>
                        <!--<button (click)='delete(mensaje)' class='m-2' pButton label="Eliminar"></button>-->
                    </mat-list-item>
                   
                  </mat-list>
            </div>
            <div class='col-lg-8' *ngIf='mensaje'>
                 <app-mensaje-detalle [mensaje]='mensaje'></app-mensaje-detalle>
            </div>
    
            <div class='col-lg-8 seleccion-mensaje mt-2' *ngIf='!mensaje && recibidos.length>0'>
                Seleccione un mensaje para ver más detalles
          </div>

          <div class='col-lg-8 seleccion-mensaje mt-2' *ngIf='recibidos.length==0'>
              No hay mensajes recibidos
        </div>
        </div>
    
        <div class="row text-center" *ngIf='!recibidos'>
            <div class='seleccion-mensaje col-12 text-center' >
                Aún no hay mensajes eliminados</div>
        </div>
    </mat-card>
</div>