.mat-list-item:hover {
    cursor: pointer;
    background-color: #EEEEEE;
}
.no-leido {
    font-weight: 400;
}
.leido {
    color:gray;
}
.seleccion-mensaje{
    font-style: italic;
}
.icon{
    color: red;
}