<div class="p-3 container-color">
  <p-card>
    <div class="flex justify-content-evenly">
      <div>
        <img mat-card-avatar src="../../../../../assets/img/IMG-20211012-WA0030.jpg" />
      </div>
      <p-divider layout="vertical"></p-divider>
      <div>
        <h4>Nombre y apellido </h4>
        <h4 class='fs-16 mb-3'>Edad: <span> 32</span></h4>
        <h4 class='fs-16 mb-3'>Localidad: <span> - <i class='pi pi-map-marker rojo'></i></span></h4>
            <h4 class='fs-16 mb-3'>Experiencia: <span> -</span></h4>

      </div>
      <p-divider layout="vertical"></p-divider>
      <div>
        <iframe src="https://www.youtube.com/embed/V202A8p7uh8" title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
      </div>
    </div>
  </p-card>
  <p-card styleClass="mt-3">
    <div class="grid">
      <div class="col">
        <h4 class="color-f">Datos académicos:</h4>
        <p>Ingeniero en informática</p>
      </div>
    </div>
  </p-card>
  <p-card styleClass="mt-3">
    <div class="grid">
      <div class="col">
        <h4 class="color-f">Descripción:</h4>
        <p>Me llamo Sergio, soy ingeniero en informática, programador freelance. 
          La programación es parte de mi vida casi en todo momento , siempre estoy realizando tanto sea trabajos, clases o estudiando programación por interés propio.
          Me encanta enseñar, se me da fácil explicarme, ejemplificar y a la vez motivar a mi alumno para que siempre vaya por más.
          Te aseguro que si haces una clase conmigo podrás divertirte y aprender, que es la manera que siempre se aprende mas rápido, disfrutando lo que se hace.</p>
      </div>
    </div>
  </p-card>
  <p-card styleClass="mt-3">
    <div class="grid">
      <div class="col">
        <h4 class="color-f">Calificaciones y opiniones</h4>
        <div class="flex justify-content-center">
          <i class="pi pi-star fs-25 x" [ngClass]='(5 >= 1)?"amarillo":""'></i>
          <i class="pi pi-star fs-25 x" [ngClass]='(5 >= 2)?"amarillo":""'></i>
          <i class="pi pi-star fs-25 x" [ngClass]='(5 >= 3)?"amarillo":""'></i>
          <i class="pi pi-star  fs-25 x" [ngClass]='(5 >= 4)?"amarillo":""'></i>
          <i class="pi pi-star fs-25 x" [ngClass]='(5 >= 5)?"amarillo":""'></i>
          <span class='subtitle'>
            5 / 5
          </span>
        </div>
        <app-comentarios-particular></app-comentarios-particular>
      </div>
    </div>
  </p-card>
</div>