<div class="product-item" *ngIf="comprando == false; else cargando">
    <div class="product-list-img">
        <img mat-card-avatar src="../../../../../assets/img/default-user.png" style=" width:100%;">
    </div>
    <div class="product-list-detail">
        <h5 class="p-mb-2 color-f">Nombre del particular</h5>
        <h4 class='fs-16 mb-3'>Tipo: <span>{{ ofertaDeResolucion.tipo.descripcion}}</span></h4>
        <h4 class='fs-16 mb-3'>Costo: <span>{{ ofertaDeResolucion.costo}}</span></h4>
        <h4 class='fs-16 mb-3'>Demora: <span>{{ ofertaDeResolucion.demora.descripcion}}</span></h4>
    </div>
    <div class="product-list-action">
        <div class='stars'>
            <i class="pi pi-star fs-21" [ngClass]='(item.valoracion >= 1)?"amarillo":""'></i>
            <i class="pi pi-star fs-21" [ngClass]='(item.valoracion >= 2)?"amarillo":""'></i>
            <i class="pi pi-star fs-21" [ngClass]='(item.valoracion >= 3)?"amarillo":""'></i>
            <i class="pi pi-star fs-21" [ngClass]='(item.valoracion >= 4)?"amarillo":""'></i>
            <i class="pi pi-star fs-21" [ngClass]='(item.valoracion >= 5)?"amarillo":""'></i>
            <span class='subtitle'>
                {{item.valoracion}} / 5
            </span>
        </div>
        <div class='actions' style='text-align: end;'>
            <button mat-button color='warn' (click)='contratar()' type="button">Contratar</button>
        </div>
    </div>
</div>
<ng-template #cargando>
    <p-progressSpinner></p-progressSpinner>
</ng-template>