<form [formGroup]="formDatos" class="ui large error form text-center">
    <p-card>
      <div class="flex justify-content-evenly">
        <div>
          <img mat-card-avatar src="../../../../../assets/img/default-user.png" />
        </div>
        <p-divider layout="vertical"></p-divider>
        <div>
          <br>
          <h4>{{particular.usuario.nombre}} {{particular.usuario.apellido}}</h4>
          <h4 class='fs-16 mb-3'>Edad: <span> 32</span></h4>
          <div class="field col-12">
            <span class="p-float-label">
              <input id="localidad" formControlName="localidad" type="text" pInputText class="inputfield w-full">
              <label for="localidad">Localidad</label>
            </span>
          </div>
        </div>
        <p-divider layout="vertical"></p-divider>
        <div>
          <div class="field col-12">
            <div class="field col-12">
              <span class="p-float-label">
                <textarea id="experiencia" formControlName="experiencia" type="text" pInputText class="inputfield w-full"></textarea>
                <label for="experiencia">Breve descripción</label>
              </span>
            </div>
        </div>
          <button pButton type="submit" (click)='confirmar()' style='margin:auto'>Confirmar</button>
        </div>
      </div>
    </p-card>
</form>