@import "theme.scss";

/* You can add global styles to this file, and also import other style files */
/* General */
body {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    /* Relleno superior igual a la altura de la cabecera*/
}

@font-face {
    font-family: 'Frutiger';
    src: url('./assets/fonts/Frutiger-Roman.ttf') format('truetype'),
        url('./assets/fonts/Frutiger-Roman.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Frutiger';
    src: url('./assets/fonts/Frutiger-UltraBlack.ttf') format('truetype'),
        url('./assets/fonts/Frutiger-UltraBlack.woff') format('woff');
    font-weight: 700;
}

//fonts
.title {
    font-size: 30px;
    color: blue;
}
.fs-16{
    font-size: 16px;
}

.fs-21{
    font-size: 21px;
}

.fs-25{
    font-size: 25px;
}
//colors
.blue-color{
    color:#003567;
}
//form
.mat-form-field {
    margin: auto
}

.input-large {
    width: 100%;
}

.input-medium {
    width: 70%;
}

.input-small {
    width: 50%;
}

//error form
.mda-form-msg {
    color: red;
    width: 100%;
}

.error-msg {
    margin-top: -18px !important;
}

.mat-card-title{
   color: #25798E !important;
}
//btn
.mat-raised-button.mat-warn{
    background-color: #00aa77!important;
    color:white!important;

}
.mat-button.mat-warn{
    background-color: #00aa77!important;
    color:white!important;

}
.mat-button.mat-primary{
    background-color: #ff8e32!important;
    color:white!important;
    margin:10px!important;
}
.mat-raised-button.mat-primary{
    background-color: #ff8e32!important;
    color:white!important;
    margin:2px!important;
}
//header
.a-header {
    color: white !important;
}

.list-header {
    color: white !important;
    border-left: 1px white;
}
.list-header:hover {
    cursor: pointer;
    background-color: cadetblue;
}
a{
    text-decoration: none!important;
}
//response

.mob {
    display: none !important;
}
.desk {
    display: block !important;
}

.container-header{
 z-index: 100;
}
@media screen and (max-width:900px) {
    .mob {
        display: block !important;
    }

    .desk {
        display: none !important;
    }
}

.naranja{
    background-color: #F5C073 !important;
}

.verde{
    background-color: #62BEA3 !important;
}

.blanco{
    background-color: #f8f8f8 !important;
}

.subtitle{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.705);
}
.azul{
    background-color: #25798E !important;
}
.azulClaro{
    background-color: rgba(113, 196, 212, 0.466)
}
.naranjaClaro{
    background-color: #fdf8ed !important;
}

.naranjaClaro2{
    background-color: #f8e2b3 !important;
}
.rojo{
    color: #d63a3a !important;
}
.azulLetra{
    color:#25798E !important;
}

.verdeLetra{
    color:#62BEA3 !important;
}

.blancaLetra{
    color:#ffffff !important;
}

.grisLetra{
    color:#636262 !important;
}


.blanco{
    color:#ffffff !important;
}

.rojoClaro{
    background-color: #d45c5c !important;
}