$base:login;
.ui.fluid.image{
  width: 85%!important;
  display: inline!important;
}
.#{$base}-container {
  height:85vh;
  display:grid;
}

.#{$base}-container > * {
  justify-self:center;
  align-self:center
}

.#{$base}-card {
  min-width:500px;
  max-height:400px;
  padding:32px;
}

.#{$base}-card-actions {
  text-align:right;
  margin-right:30px
}
