<div class="container-color"  *ngIf='mostrar'>
    <p-card id='card-reunion' > 
        <div id="jitsi-iframe"></div>
    </p-card>
</div>

<div class="container-color" *ngIf='!mostrar'>
        <p-card id='card-reunion' > 
            {{mensaje}}
        </p-card>
    </div>
<!--For Custom Controls

<div class="item-center">
    <button (click)="executeCommand('toggleAudio')" pButton label=""> <i class="fas fa-2x grey-color"
            [ngClass]="isAudioMuted ? 'fa-microphone-slash' : 'fa-microphone'" aria-hidden="true"
            title="Mute / Unmute"></i></button>

    <button (click)="executeCommand('hangup')" pButton label=""> <i class="fas fa-phone-slash fa-2x red-color"
            aria-hidden="true" title="Leave"></i></button>

    <button (click)="executeCommand('toggleVideo')" pButton label=""> <i class="fas fa-2x grey-color"
            [ngClass]="isVideoMuted ? 'fa-video-slash' : 'fa-video'" aria-hidden="true" title="Start / Stop camera"></i>
    </button>

    <button (click)="executeCommand('toggleShareScreen')" pButton label=""> <i class="fas fa-film fa-2x grey-color"
            aria-hidden="true" title="Share your screen"></i>
    </button>



</div>-->