.fas {
    font-size: 1.5em !important;
    margin: auto;
}
.item-center {
    text-align: center;
}

.item-center button {
    margin: 0.5em;
    width: 4em;
    text-align: center;
    justify-content: center;
    padding: auto!important;
}
.p-button-label{
    display: none;
}
#card-reunion{
    width: 90%;
    height:90%;
}

.container-color{
    padding: 20px;
}