<div class="p-3 container-color">
    <app-perfi-header></app-perfi-header>
    <p-card styleClass="mt-3">
      <div class="grid">
        <div class="col">
  
          <h4 class="color-f">Datos académicos: </h4>
          <mat-list-item *ngFor="let item of datosAcademicos">
            <mat-card>
              <div mat-line><i class="pi pi-briefcase
                  ml-2 mr-2" style="font-size: 1rem"></i>{{item.titulo}}</div>
              <div class='ml-2' mat-line> {{item.fechaInicio}} - {{item.fechaFin}}</div>
              <div class='ml-2' *ngIf='item.archivos[0]' mat-line> <a style="color:#35a763;cursor:pointer;"
                  (click)="oponDoc(item.archivos[0])"> Ver certificado</a></div>
              <div class='actions'>
                <i class="pi pi-trash fs-21 m-1" (click)='eliminar(item.id)' style="cursor:pointer;color:red"></i>
              </div>
            </mat-card>
          </mat-list-item>
  
          <form [formGroup]="formDatos" class="ui large error form text-center">
  
            <div class="grid ">
              <div class="col-md-6">
                <br>
                <div class="field col-12">
                  <span class="p-float-label">
                    <input id="materia" formControlName="titulo" type="text" pInputText class="inputfield w-full">
                    <label for="materia">Título</label>
                  </span>
                  <div *ngIf="formDatos.get('titulo').hasError('required') && formDatos.get('titulo').touched"
                    class="text-center">
                    <small class="p-error">Este campo es <strong>requerido</strong></small>
                  </div>
                </div>
  
                <div class="field col-12">
                  <span class="p-float-label">
                    <p-calendar showButtonBar="true" inputId="fechaDesde" formControlName="desde" dateFormat="dd-mm-yy"
                      [showIcon]="true" styleClass="w-full" [monthNavigator]="true" [yearNavigator]="true"
                      [yearRange]="obtenerRangoDeEdad()" (onSelect)='cambiarMinDate()'
                      ></p-calendar>
                    <label for="fechaNacimiento">Desde</label>
                  </span>
                  <div *ngIf="formDatos.get('desde').hasError('required') && formDatos.get('desde').touched"
                    class="text-center">
                    <small class="p-error">Este campo es <strong>requerido</strong></small>
                  </div>
                </div>
  
              </div>
              <div class="col-md-6">
                <br>
  
                <div class="field col-12">
                  <span class="p-float-label">
                    <p-calendar showButtonBar="true" inputId="fechaHasta" formControlName="hasta" dateFormat="dd-mm-yy"
                      [showIcon]="true" styleClass="w-full" [monthNavigator]="true" [yearNavigator]="true"
                      [yearRange]="obtenerRangoDeEdad()"  [minDate]='minDate'></p-calendar>
                    <label for="fechaNacimiento">Hasta</label>
                  </span>
                  <div *ngIf="formDatos.get('hasta').hasError('required') && formDatos.get('hasta').touched"
                    class="text-center">
                    <small class="p-error">Este campo es <strong>requerido</strong></small>
                  </div>
                </div>
              </div>
              <div class="field col-12">
                <div class='w-80 mt-3'>
                  <p-fileUpload class='mt-4' name="demo[]" customUpload="true"
                      (onSelect)="seleccionarDocumento($event)"
                      (onClear)="cancelarSeleccionDeDocumentos()"
                      (onRemove)="borrarDocumento($event)"
                       accept="image/*" chooseLabel="Elegir" [showUploadButton]=false>
                  </p-fileUpload>
              </div>
              </div>
  
            </div>
  
            <button pButton type="submit" (click)='confirmar()' style='margin:auto'>Agregar</button>
          </form>
        </div>
      </div>
    </p-card>
  
  
  
    <p-card styleClass="mt-3" *ngIf='clases'>
      <p-table [scrollable]="true" scrollwidth="700px" [value]="clases">
        <ng-template pTemplate="caption">
          <div>
            <h4 class="color-f">Mis clases</h4>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width:200px;text-align: center;">Materia</th>
            <th style="width:200px;text-align: center;">Fecha de publicación</th>
            <th style="width:200px;text-align: center;">Cantidad de alumnos</th>
            <th style="width:200px;text-align: center;">Calificación</th>
  
            <th style="width:200px;text-align: center;"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-clase>
          <tr>
            <td style="width:200px;text-align: center;">{{clase.materia.nombre}}</td>
            <td style="width:200px;text-align: center;">{{clase.fecha |date:'d/M/yy, h:mm a'}}</td>
            <td style="width:200px;text-align: center;">{{clase.cupo}}</td>
            <td style="width:200px;text-align: center;">{{clase.puntuacion}} / 5</td>
            <td style="width:200px;text-align: center;"><button pButton label="Ver más" (click)='verDetalle(clase)'></button></td>
          </tr>
        </ng-template>
      </p-table>
  
    </p-card>
    <p-card styleClass="mt-3">
      <div class="grid">
        <div class="col">
     
          <app-comentarios-particular></app-comentarios-particular>
        </div>
      </div>
    </p-card>
  </div>