<div class="container container-color2">
  <div class="row">
    <div class='col-lg-4 ' style='margin-top: 4em;'>
      <mat-card class="card">
        <mat-card-header style='margin:0px;'>
          <h2 class='color-a'>Filtrar <i class="icofont-filter fs-21"></i></h2>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="formDatos" class="ui large error form">
            <mat-form-field class='input-large' appearance="outline">
              <mat-label>Materia</mat-label>
              <mat-select FormControlName="materia">
                <mat-option value="1"> materia 1</mat-option>
                <mat-option value="2">materia 1</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class='input-large' appearance="outline">
              <mat-label> Tipo</mat-label>
              <mat-select FormControlName="tipo">
                <mat-option value="1"> Online</mat-option>
                <mat-option value="2"> Me puedo acercar</mat-option>
                <mat-option value="3"> En mi casa</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="input-large" appearance="outline"
              *ngIf="formDatos.get('tipo').value && formDatos.get('tipo').value != 1">
              <mat-label>ubicacion</mat-label>
              <input ngx-google-places-autocomplete type="text" matInput formControlName="ubicacion" [options]='options'
                #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" />
            </mat-form-field>
            <!-- <div class="text-center">
              <app-mapa [lat]='lat' [lng]='lng'></app-mapa>
            </div>-->
            <mat-form-field class='input-large' appearance="outline">
              <mat-label>Particular</mat-label>
              <input matInput formControlName="particular" placeholder="Roberto Perez" type="text">
            </mat-form-field>

            <mat-form-field class='input-large' appearance="outline">
              <mat-label>Disponibilidad</mat-label>
              <input matInput formControlName="disponibilidad" placeholder="Ingrese una fecha " [min]="minDate"
                [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>

            </mat-form-field>

            <mat-form-field class='input-large' appearance="outline">
              <mat-label>Nivel academico</mat-label>
              <mat-select FormControlName="nivel">
                <mat-option value="1">Primaria</mat-option>
                <mat-option value="2">Secundaria</mat-option>
                <mat-option value="3">Universitario / Terciario</mat-option>
              </mat-select>
            </mat-form-field>


          </form>
        </mat-card-content>
        <mat-card-actions class='text-center'>
          <button mat-raised-button color="warn" (click)='filtrar()'>Aplicar <i
              class="icofont-check fs-21"></i></button>
          <button mat-raised-button color="warn"  (click)='limpiar()'>Limpiar <i
              class="icofont-ui-delete fs-21"></i></button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-lg-8">
      <h2 class='color-a mt-3 text-center'>Resultados: {{count}} para “{{valor}}”</h2>
      <div class="d-flex justify-content-center" *ngIf='spinner'>
        <div class="spinner-grow text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="busqueda-cont" *ngIf='!spinner'>

        <div *ngFor="let item of  results" class="busqueda-item">
          <app-cards-busqueda [registro]='item'></app-cards-busqueda>
        </div>

      </div>
      <div class="paginacion" *ngIf='!spinner'>
        <div (click)='cambiarPagina(page)' *ngFor="let page of  pages" class="number "
          [ngClass]='(numberActive == page  )?"active":""'>{{page}}</div>
      </div>
    </div>
  </div>
</div>